// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CONT WRAPPER: col contents
// ===============================================
.cont-wrapper-col-contents {
  $self: &;

  // &__col
  &__col {
    @include padding(1.563rem null 1.563rem null);
    @include size(100%, null);
    @include min-screen(1440px) {
      @include padding(2.813rem null 2.813rem null);
    }

    // .layout-grid
    .layout-grid {

      // &__col-xs-12
      &__col-xs-12 {
        @include min-screen(1024px) {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
        }

        // &:first-of-type
        &:first-of-type {
          order: 2;
        }

        // &:last-of-type
        &:last-of-type {
          order: 1;
        }

      }

    }

    // .cdmr
    .cdmr {

      // &-title
      &-title {
        @include margin(1rem null .625rem null);
        @include min-screen(1024px) {
          @include margin(0 null 1.25rem null);
          flex-basis: 100%;
        }

      }

      // &-txt
      &-txt {
        @include min-screen(1024px) {
          flex-basis: 100%;
        }

      }

      // &-list
      &-list {
        @include min-screen(1024px) {
          flex-basis: 100%;
        }

      }

    }

    // .cont
    .cont {

      // &-set
      &-set {

        // &-btn
        &-btn {
          @include margin(1.563rem null null null);
        }

      }

    }

    // &--is
    &--is {

      // &-inverse
      &-inverse {

        // .layout-grid
        .layout-grid {

          // &__col-xs-12
          &__col-xs-12 {

            // &:first-child
            &:first-of-type {
              @include min-screen(1024px) {
                order: 1;
              }

            }

            // &:last-of-type
            &:last-of-type {
              @include min-screen(1024px) {
                order: 2;
              }

            }

          }

        }

      }

    }

  }

  // &--is
  &--is {
  }

  // &--has
  &--has {
  }

}
