// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: breadcrumb 
// ===============================================
@mixin cdmr-breadcrumb($theme: null) {
  .cdmr-breadcrumb {
    $self: &;
    @include position(relative);
    overflow: hidden;
    display: flex;
    width: 100%;
    white-space: nowrap;
    gap: 1.2rem;
    list-style-type: none;

    // &:focus-visible
    &:focus-visible {
      outline: 0.2rem solid var(--color-state-focus);
    }

    // &__item
    &__item {
      @include position(relative);
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      // &:last-child
      &:last-child {
        @include padding(null 0.313rem null 0.313rem);
      }

      // &:not(:last-child)
      &:not(:last-child) {
        // &:after
        &:after {
          content: "";
          @include margin(auto null auto null);
          @include position(absolute, 0, -1.25rem, 0, null);
          @include size(1.2rem);
          @include background-setup(
            // img path
            map-icons(arrows, theme-unicons--rgt),
            // position and size
            "0 0 / contain",
            // repeat
            no-repeat,
            // attachment
            null,
            // origin
            null,
            // clip
            null,
            // color
            null
          );
          filter: var(--filter-primary); 
        }
      }
    }

    // &__link
    &__link {
      transition: color 200ms ease;
      color: var(--color-primary);

      // &:hover, &:focus-visible
      &:hover,
      &:focus-visible {
        outline: none;
        text-decoration: underline;
        color: var(--color-action-link);
      }
    }

    // &--primary
    &--primary {
      // &:before
      &:before {
        @include background-setup(
          // img path
          map-icons(user-interface, theme-unicons--house),
          // position and size
          "0 0 / contain",
          // repeat
          no-repeat,
          // attachment
          null,
          // origin
          null,
          // clip
          null,
          // color
          null
        );
        filter: var(--filter-primary); 
      }

      // #{ $self }
      #{ $self } {
        // &__item
        &__item {
          // &:last-child
          &:last-child {
            color: var(--color-white);
            background-color: var(--color-primary);
          }
        }
      }
    }

    // &--has
    &--has {
      // &-icon
      &-icon {
        @include padding(null null null 1.875rem);
        line-height: 1.25rem;

        // &:before
        &:before {
          content: "";
          @include position(absolute, 0, null, 0, 0);
          @include size(1.25rem);
        }
      }
    }

    // &--is
    &--is {
    }

    // &:not()
    &:not(#{ $self }--has-icon) {
      @include padding(null null null 0);
    }
  }
}
