// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: breadcrumb
// ===============================================
@mixin cdmr-breadcrumb($theme: null) {
  .cdmr-breadcrumb {
    @include position(relative);
    @include size(100%, null);
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    gap: var(--breadcrumb-gap);
    list-style-type: none;

    // &:focus-visible
    &:focus-visible {
      outline: 0.2rem solid var(--color-state-focus);
    }

    // &__item
    &__item {
      @include position(relative);
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      // &:last-child
      &:last-child {
        @include padding(
          null var(--breadcrumb-item-highlighted-p-x) null
            var(--breadcrumb-item-highlighted-p-x)
        );
        color: var(--color-white);
        background-color: var(--color-primary);
      }

      // &:not(:last-child)
      &:not(:last-child) {
        // &:after
        &:after {
          content: "";
          @include margin(auto null auto null);
          @include position(
            absolute,
            0,
            var(--breadcrumb-item-icon-p-r),
            0,
            null
          );
          @include size(var(--breadcrumb-item-icon-size));
          @include background-setup(
            // img path
            var(--breadcrumb-item-icon-pic),
            // position and size
            "0 0 / contain",
            // repeat
            no-repeat,
            // attachment
            null,
            // origin
            null,
            // clip
            null,
            // color
            null
          );
          filter: var(--filter-primary);
        }
      }
    }

    // &__link
    &__link {
      transition: color 200ms ease;
      color: var(--color-primary);

      // &:hover, &:focus-visible
      &:hover,
      &:focus-visible {
        outline: none;
        text-decoration: underline;
        color: var(--color-action-link);
      }
    }

    // &--has
    &--has {
      // &-icon
      &-icon {
        @include padding(null null null 1.875rem);

        // &:before
        &:before {
          content: "";
          @include position(absolute, 0, null, 0, 0);
          @include margin(auto null auto null);
          @include size(1.25rem); 
        }

        // &-home
        &-home {
          // &::before
          &:before {
            @include background-setup(
              // img path
              var(--icon-user-interface-home),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              null
            );
            filter: var(--filter-primary);
          }
        }
      }
    }

    // &:not()
    &:not([class*="--has-icon"]) {
      @include padding(null null null 0);
    }
  }
}
