// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: btn
// ===============================================
@mixin cdmr-btn($theme: null) {
  .cdmr-btn {
    @include border(all, var(--theme-w-border), solid, null);
    overflow-wrap: break-word;
    display: inline-block;
    user-select: none;
    text-align: center;
    box-shadow: none;
    transition: border-color 0.25s ease-out, color 0.25s ease-out,
      background-color 0.25s ease-out;

    // &--primary
    &--primary {
      border-color: var(--color-primary);

      // &[class*="--filled"]
      &[class*="--filled"] {
        background-color: var(--color-primary);
      }

      // &:not()
      &:not([class*="--filled"]):not([class*="--filled"]:not([disabled])):not(
          :disabled
        ) {
        color: var(--btn-primary-font-color);
      }
      &:not(:disabled) {
        color: var(--btn-primary-filled-font-color);
      }
    }

    // &--secondary
    &--secondary {
      border-color: var(--color-secondary);

      // &[class*="--filled"]
      &[class*="--filled"] {
        background-color: var(--color-secondary);
      }

      // &:not()
      &:not([class*="--filled"]):not([class*="--filled"]:not([disabled])):not(
          :disabled
        ) {
        color: var(--btn-secondary-font-color);
      }
      &:not(:disabled) {
        color: var(--btn-secondary-filled-font-color);
      }
    }

    // &--tertiary
    &--tertiary {
      border-color: var(--color-tertiary);

      // &[class*="--filled"]
      &[class*="--filled"] {
        background-color: var(--color-tertiary);
      }

      // &:not()
      &:not([class*="--filled"]):not([class*="--filled"]:not([disabled])):not(
          :disabled
        ) {
        color: var(--btn-tertiary-font-color);
      }
      &:not(:disabled) {
        color: var(--btn-tertiary-filled-font-color);
      }
    }

    // &--quaternary
    &--quaternary {
      border-color: var(--color-quaternary);

      // &[class*="--filled"]
      &[class*="--filled"] {
        background-color: var(--color-quaternary);
      }

      // &:not()
      &:not([class*="--filled"]):not([class*="--filled"]:not([disabled])):not(
          :disabled
        ) {
        color: var(--btn-quaternary-font-color);
      }
      &:not(:disabled) {
        color: var(--btn-quaternary-filled-font-color);
      }
    }

    // &--scope
    &--scope {
      // &-1
      &-1 {
        @include padding(var(--scope-1));
        font-size: var(--scope-1);
        line-height: var(--scope-1);
      }

      // &-2
      &-2 {
        @include padding(var(--scope-2));
        font-size: var(--scope-2);
        line-height: var(--scope-2);
      }

      // &-3
      &-3 {
        @include padding(var(--scope-3));
        font-size: var(--scope-3);
        line-height: var(--scope-3);
      }
    }

    // &:hover
    &:hover {
      // &:not(:disabled)
      &:not(:disabled) {
        cursor: default;

        // &[class*="--primary"]
        &[class*="--primary"] {
          border-color: var(--color-state-hover-primary);
          background-color: var(--color-state-hover-primary);
        }

        // &[class*="--secondary"]
        &[class*="--secondary"] {
          border-color: var(--color-state-hover-secondary);
          background-color: var(--color-state-hover-secondary);
        }

        // &[class*="--tertiary"]
        &[class*="--tertiary"] {
          border-color: var(--color-state-hover-tertiary);
          background-color: var(--color-state-hover-tertiary);
        }

        // &[class*="--quaternary"]
        &[class*="--quaternary"] {
          border-color: var(--color-state-hover-quaternary);
          background-color: var(--color-state-hover-quaternary);
        }

        // &[class*="--quaternary"]
        &[class*="--quaternary"] {
          border-color: var(--color-state-hover-quaternary);
          background-color: var(--color-state-hover-quaternary);
        }
      }
    }

    // &:focus
    &:focus {
      // &:not(:disabled)
      &:not(:disabled) {
        outline: 0;
      }
    }

    // &:focus-visible
    &:focus-visible {
      // &:not(:disabled)
      &:not(:disabled) {
        outline: 0.2rem solid var(--color-state-focus);
      }
    }

    // &:disabled
    &:disabled {
      cursor: not-allowed;
      border-color: var(--color-state-disabled);
    }

    // &:is()
    &:is([class*="--circle"]) {
      @include border-radius(50%);
    }
    &:is([class*="--filled"]) {
      // &:disabled
      &:disabled {
        background-color: var(--color-state-disabled);
      }
    }

    // &:not() 
    &:not([class*="--filled"]) {
      background-color: transparent;
    }
    &:not([class*="--circle"]) {
      @include border-radius(var(--theme-radius));
    }
    &:not(:has(.helper-hide)) {
      // .cdmr 
      .cdmr {
        // &-icon
        &-icon {
          @include size(null, 50%);
        }
      }
    }

    // &:has()
    &:has(.cdmr-icon) {
      @include position(relative);

      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          @include position(absolute, 0, 0, 0, 0);
          @include margin(auto);
        }
      }
    }

    // &:where()
    &:where([class*="--scope-1"]):has(.cdmr-icon:first-child:last-child) {
      @include padding(null null null calc(var(--scope-1) * 2));
    }
    &:where([class*="--scope-2"]):has(.cdmr-icon:first-child:last-child) {
      @include padding(null null null calc(var(--scope-1) * 2.5));
    }
    &:where([class*="--scope-3"]):has(.cdmr-icon:first-child:last-child) {
      @include padding(null null null calc(var(--scope-1) * 3.5));
    }

    // &--has
    &--has {
      // &-icon
      &-icon {
        @include position(relative);

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            @include position(absolute, 0, null, 0, 0);
            @include margin(auto null auto null);
          }
        }

        // &-scope
        &-scope {
          // &-1
          &-1 {
            @include padding(null null null calc(2 * var(--scope-1)));

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                @include margin(null null null calc(var(--scope-1) / 2));
                @include size(var(--scope-1));
              }
            }
          }

          // &-2
          &-2 {
            @include padding(null null null calc(2 * var(--scope-2)));

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                @include margin(null null null calc(var(--scope-2) / 2));
                @include size(var(--scope-2));
              }
            }
          }

          // &-3
          &-3 {
            @include padding(null null null calc(2 * var(--scope-3)));

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                @include margin(null null null calc(var(--scope-3) / 2));
                @include size(var(--scope-3));
              }
            }
          }
        }
      }
    }
  }
}
