// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: btn-iconized
// ===============================================
@mixin cdmr-btn-iconized($theme: null) {
  .cdmr-btn-iconized {
    $self: &;
    @include position(relative);
    @include border(all, 0.188rem, solid, null);
    display: inline-block;
    transition: border-color 0.25s ease-out, color 0.25s ease-out,
      background-color 0.25s ease-out;
    background-color: transparent;

    // &:hover
    &:hover {
      cursor: default;
    }

    // &:focus
    &:focus {
      outline: 0;
    }

    // &:focus-visible
    &:focus-visible {
      outline: 0.2rem solid var(--color-state-focus);
    }

    // &--primary
    &--primary {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    // &--secondary
    &--secondary {
      border-color: var(--color-secondary);
    }

    // &--tertiary
    &--tertiary {
      border-color: var(--color-tertiary);
      background-color: var(--color-tertiary);
    }

    // &--quaternary
    &--quaternary {
      border-color: var(--color-quaternary);
    }

    // &--shape
    &--shape {
      // &-box
      &-box {
        // theme: codymer
        @if $theme == codymer {
          @include border-radius(0.6rem);
        }

        // theme: example-01
        @if $theme == example-01 {
          @include border-radius(1rem);
        }
      }

      // &-circle
      &-circle {
        border-radius: 50%;
      }
    }

    // &--scope
    &--scope {
      // &-25
      &-25 {
        // theme: codymer
        @if $theme == codymer {
          @include size(2.5rem);
        }

        // theme: example-01
        @if $theme == example-01 {
          @include size(4rem);
        }

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            // &:before
            &:before {
              // theme: codymer
              @if $theme == codymer {
                @include size(85%);
              }

              // theme: example-01
              @if $theme == example-01 {
                @include size(75%);
              }
            }
          }
        }
      }
    }

    // &:where()
    &:where(#{ $self }--primary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-color-white);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
      }
    }

    // &:where()
    &:where(#{ $self }--secondary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-secondary);
            // behavior-in-ancestor
            @include behavior-in-ancestor(helper-bg-color-primary-50) {
              // theme: codymer
              @if $theme == codymer {
                filter: var(--filter-color-white); 
              }
            }
          }
        }
      }
      // behavior-in-ancestor
      @include behavior-in-ancestor(helper-bg-color-primary-50) {
        // theme: codymer
        @if $theme == codymer {
          border-color: var(--color-white);
        }
      }
      // &:hover
      &:hover {
        border-color: var(--color-secondary);
        background-color: var(--color-secondary);
      }
    }

    // &:where
    &:where(#{ $self }--tertiary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-color-white);
          }
        }
      }

      // behavior-in-ancestor
      @include behavior-in-ancestor(helper-bg-color-primary-50) {
        border-color: var(--color-white);

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            // &:before
            &:before {
              filter: var(--filter-color-white);
            }
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-tertiary);

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            // &:before
            &:before {
              filter: var(--filter-color-black);
            }
          }
        }
      }
    }

    // &:where
    &:where(#{ $self }--quaternary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-quaternary);
          }
        }
      }

      // behavior-in-ancestor
      @include behavior-in-ancestor(helper-bg-color-primary-50) {
        border-color: var(--color-white);

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            // &:before
            &:before {
              filter: var(--filter-color-white);
            }
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-primary);

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            // &:before
            &:before {
              filter: var(--filter-quaternary);
            }
          }
        }
      }
    }

    // &--has
    &--has {
    }

    // &--is
    &--is {
    }
  }
}
