// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: btn  
// ===============================================
@mixin cdmr-btn($theme: null) {
  .cdmr-btn {
    $self: &;
    @include border(all, var(--theme-w-border), solid, null);
    @include border-radius(var(--theme-radius));
    overflow-wrap: break-word;
    display: inline-block;
    user-select: none;
    text-align: center;
    box-shadow: none;
    transition: border-color 0.25s ease-out, color 0.25s ease-out,
      background-color 0.25s ease-out;

    // &:hover
    &:hover {
      cursor: default;
    }

    // &:focus
    &:focus {
      outline: 0;
    }

    // &:focus-visible
    &:focus-visible {
      outline: 0.2rem solid var(--color-state-focus);
    }

    // &--primary
    &--primary {
      color: var(--color-white);
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    // &--secondary
    &--secondary {
      color: var(--color-secondary);
      background-color: transparent;
      border-color: var(--color-secondary);
    }

    // &--tertiary
    &--tertiary {
      color: var(--color-white);
      border-color: var(--color-tertiary);
      background-color: var(--color-tertiary);
    }

    // &--quaternary
    &--quaternary {
      color: var(--color-quaternary);
      border-color: var(--color-quaternary);
      background-color: transparent;
    }

    // &--scope
    &--scope {
      // &-25
      &-25 {
        @include padding(var(--scope-25));
        font-size: var(--scope-25);
        line-height: var(--scope-25); 
      }

      // &-50
      &-50 {
        @include padding(var(--scope-50));
        font-size: var(--scope-50);
        line-height: var(--scope-50);  
      }

      // &-75
      &-75 {
        @include padding(var(--scope-75));
        font-size: var(--scope-75);
        line-height: var(--scope-75);  
      }
    }

    // &:where()
    &:where(#{ $self }--primary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-color-white);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-primary);
        background-color: var(--color-state-hover-primary);
      }
    }

    // &:where()
    &:where(#{ $self }--secondary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-secondary);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-secondary);
        color: var(--color-state-hover-secondary);
      }
    }

    // &:where()
    &:where(#{ $self }--tertiary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-color-white);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-tertiary);
        background-color: var(--color-state-hover-tertiary);
      }
    }

    // &:where()
    &:where(#{ $self }--quaternary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-primary);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-quaternary);
        color: var(--color-state-hover-quaternary);
      }
    }

    // &:disabled
    &:disabled {
      cursor: not-allowed;
      color: var(--color-black);
      border-color: var(--color-state-disabled);
    }

    // &:where():disabled
    &:where(#{ $self }--primary, #{ $self }--tertiary):disabled {
      border-color: var(--color-state-disabled);
      background-color: var(--color-state-disabled);
    }

    // &--has
    &--has {
      // &-icon
      &-icon {
        @include position(relative);

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            @include position(absolute, 0, null, 0, 0);
            @include margin(auto null auto null);
          }
        }

        // &-scope
        &-scope {
          // &-25
          &-25 {
            @include padding(null null null calc(var(--scope-25) * 2));

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                @include margin(null null null calc(var(--scope-25) / 2));
                @include size(var(--scope-25));
              }
            }
          }

          // &-50
          &-50 {
            @include padding(null null null calc(var(--scope-50) * 2));

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                @include margin(null null null calc(var(--scope-50) / 2));
                @include size(var(--scope-50));
              }
            }
          }

          // &-75
          &-75 {
            @include padding(null null null calc(var(--scope-75) * 2));

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                @include margin(null null null calc(var(--scope-75) / 2));
                @include size(var(--scope-75));
              }
            }
          }
        }
      }
    }
  }
}
