// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: btn
// ===============================================
@mixin cdmr-btn($theme: null) {
  .cdmr-btn {
    $self: &;
    @include border(all, 0.188rem, solid, null);
    overflow-wrap: break-word;
    display: inline-block;
    user-select: none;
    text-align: center;
    box-shadow: none;
    transition: border-color 0.25s ease-out, color 0.25s ease-out,
      background-color 0.25s ease-out;

    // theme: codymer
    @if $theme == codymer {
      @include border-radius(0.2rem);
    }

    // theme: example-01
    @if $theme == example-01 {
      @include border-radius(1rem);
    }

    // &:hover
    &:hover {
      cursor: default;
    }

    // &:focus
    &:focus {
      outline: 0;
    }

    // &:focus-visible
    &:focus-visible {
      outline: 0.2rem solid var(--color-state-focus);
    }

    // &--primary
    &--primary {
      color: var(--color-white);
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    // &--secondary
    &--secondary {
      color: var(--color-secondary);
      background-color: transparent;
      border-color: var(--color-secondary);
    }

    // &--tertiary
    &--tertiary {
      color: var(--color-white);
      border-color: var(--color-tertiary);
      background-color: var(--color-tertiary);
    }

    // &--quaternary
    &--quaternary {
      color: var(--color-quaternary);
      border-color: var(--color-quaternary);
      background-color: transparent;
    }

    // &--scope
    &--scope {
      // &-25
      &-25 {
        // theme: codymer
        @if $theme == codymer {
          @include padding(0.55rem 0.625rem 0.55rem 0.625rem);
          font-size: 1rem;
          line-height: 1rem;
        }

        // theme: example-01
        @if $theme == example-01 {
          @include padding(1rem);
          font-size: 2rem;
          line-height: 2rem;
        }
      }

      // &-50
      &-50 {
        // theme: codymer
        @if $theme == codymer {
          @include padding(0.75rem);
          font-size: 1.125rem;
          line-height: 1.25rem;
        }

        // theme: example-01
        @if $theme == example-01 {
          @include padding(1.5rem);
          font-size: 2rem;
          line-height: 2rem;
        }
      }

      // &-75
      &-75 {
        // theme: codymer
        @if $theme == codymer {
          @include padding(1.5rem);
          font-size: 1.3rem;
          line-height: 1.3rem;
        }

        // theme: example-01
        @if $theme == example-01 {
          @include padding(2.5rem);
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
      }
    }

    // &:where()
    &:where(#{ $self }--primary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-color-white);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-primary);
        background-color: var(--color-state-hover-primary);
      }
    }

    // &:where()
    &:where(#{ $self }--secondary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-secondary);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-secondary);
        color: var(--color-state-hover-secondary);
      }
    }

    // &:where()
    &:where(#{ $self }--tertiary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-color-white);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-tertiary);
        background-color: var(--color-state-hover-tertiary);
      }
    }

    // &:where()
    &:where(#{ $self }--quaternary) {
      // .cdmr
      .cdmr {
        // &-icon
        &-icon {
          // &:before
          &:before {
            filter: var(--filter-primary);
          }
        }
      }

      // &:hover
      &:hover {
        border-color: var(--color-state-hover-quaternary);
        color: var(--color-state-hover-quaternary);
      }
    }

    // &:disabled
    &:disabled {
      cursor: not-allowed;
      color: var(--color-black);
      border-color: var(--color-state-disabled);
    }

    // &:where():disabled
    &:where(#{ $self }--primary, #{ $self }--tertiary):disabled {
      border-color: var(--color-state-disabled);
      background-color: var(--color-state-disabled);
    }

    // &--has
    &--has {
      // &-icon
      &-icon {
        @include position(relative);

        // .cdmr
        .cdmr {
          // &-icon
          &-icon {
            @include position(absolute, 0, null, 0, 0.313rem);
            @include margin(auto null auto null);
          }
        }

        // &-scope
        &-scope {
          // &-25
          &-25 {
            // theme: codymer
            @if $theme == codymer {
              @include padding(null null null 2rem);
            }

            // theme: example-01
            @if $theme == example-01 {
              @include padding(null null null 4rem);
            }

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                // theme: codymer
                @if $theme == codymer {
                  @include size(1.5rem);
                }

                // theme: example-01
                @if $theme == example-01 {
                  @include size(3rem);
                }
              }
            }
          }

          // &-50
          &-50 {
            // theme: codymer
            @if $theme == codymer {
              @include padding(null null null 2.8rem);
            }

            // theme: example-01
            @if $theme == example-01 {
              @include padding(null null null 4rem);
            }

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                // theme: codymer
                @if $theme == codymer {
                  @include size(2.5rem);
                }
                
                // theme: example-01
                @if $theme == example-01 {
                  @include size(4rem);
                }
              }
            }
          }

          // &-75
          &-75 {
            // theme: codymer
            @if $theme == codymer {
              @include padding(null null null 3.2rem);
            }

            // theme: example-01
            @if $theme == example-01 {
              @include padding(null null null 4rem);
            }

            // .cdmr
            .cdmr {
              // &-icon
              &-icon {
                // theme: codymer
                @if $theme == codymer {
                  @include size(3rem);
                }

                // theme: example-01
                @if $theme == example-01 {
                  @include size(4rem);
                }
              }
            }
          }
        }
      }
    }
  }
}
