// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: check 
// ===============================================
@mixin cdmr-check($theme: null) {
  .cdmr-check {
    $self: &;
    @include position(relative);

    // theme: codymer
    @if $theme == codymer {
      @include margin(null null 0.938rem null);
    }

    // theme: example-01
    @if $theme == example-01 {
      @include margin(null null 1.2rem null);
    }

    // &__label
    &__label {
      display: inline-flex;
      flex-wrap: wrap;

      // theme: codymer
      @if $theme == codymer {
        @include padding(null null null 2rem);
        line-height: 1.563rem;
      }

      // theme: example-01
      @if $theme == example-01 {
        @include padding(null null null 3rem);
        line-height: 2rem;
      }

      // &:before
      &:before {
        content: "";
        @include position(absolute, 0, null, null, 0);
        transition: border-color 250ms ease;

        // theme: codymer
        @if $theme == codymer {
          @include size(1.563rem);
          @include border(all, 0.188rem, solid, var(--color-primary));
          @include border-radius(0.4rem);
        }

        // theme: example-01
        @if $theme == example-01 {
          @include size(2rem);
          @include border(all, 0.4rem, solid, var(--color-primary));
          @include border-radius(0.6rem);
        }
      }

      // &:after
      &:after {
        content: "";
        @include position(absolute, 0, 0, null, 0);
        opacity: 0;
        transition: all 250ms ease;

        // theme: codymer
        @if $theme == codymer {
          @include size(1.563rem, 1.563rem);
          @include background-setup(
            // img path
            map-icons(user-interface, theme-unicons--approve-tick),
            // position and size
            "0 0 / contain",
            // repeat
            no-repeat,
            // attachment
            null,
            // origin
            null,
            // clip
            null,
            // color
            transparent
          );
        }

        // theme: example-01
        @if $theme == example-01 {
          @include size(2rem, 2rem);
          @include background-setup(
            // img path
            map-icons(user-interface, theme-unicons--approve-tick),
            // position and size
            "0 0 / contain",
            // repeat
            no-repeat,
            // attachment
            null,
            // origin
            null,
            // clip
            null,
            // color
            transparent
          );
        }
      }

      // &:not(:disabled)
      &:not(:disabled) {
        // &:hover
        &:hover {
          // &:before
          &:before {
            // theme: codymer
            @if $theme == codymer {
              box-shadow: 0 0 0.313rem 0 var(--color-primary);
            }

            // theme: example-01
            @if $theme == example-01 {
              box-shadow: 0 0 0.5rem 0 var(--color-primary);
            }
          }
        }
      }
    }

    // &__input
    &__input {
      @include position(absolute);
      opacity: 0;
      pointer-events: none;

      // &:checked
      &:checked {
        // + #{ $self }
        + #{ $self } {
          // &__label
          &__label {
            // &:before
            &:before {
              border-color: var(--color-state-ok);
              background-color: var(--color-state-ok);

              // theme: codymer
              @if $theme == codymer {
                border-width: 0.79rem;
              }

              // theme: example-01
              @if $theme == example-01 {
                border-width: 0.79rem;
              }
            }

            // &:after
            &:after {
              opacity: 1;
              transform: scale(1);
              filter: var(--filter-primary);
            }
          }
        }
      }

      // &:disabled
      &:disabled {
        // + #{ $self }
        + #{ $self } {
          // &__label
          &__label {
            // &:before
            &:before {
              border-color: var(--color-state-disabled);
              background-color: var(--color-state-disabled);
              box-shadow: inset 0 0 0 0.4rem var(--color-state-disabled);
            }
          }
        }

        // &:hover
        &:hover {
          // + #{ $self }
          + #{ $self } {
            // &__label
            &__label {
              cursor: not-allowed;
            }
          }
        }
      }

      // &:focus-visible
      &:focus-visible {
        // + #{ $self }
        + #{ $self } {
          // &__label
          &__label {
            // &:before
            &:before {
              // theme: codymer
              @if $theme == codymer {
                box-shadow: 0 0 0.313rem 0 var(--color-primary);
              }

              // theme: example-01
              @if $theme == example-01 {
                box-shadow: 0 0 0.5rem 0 var(--color-primary);
              }
            }
          }
        }
      }
    }

    // &--has
    &--has {
    }

    // &--is
    &--is {
    }
  }
}
