// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: check
// ===============================================
@mixin cdmr-check($theme: null) {
  .cdmr-check {
    @include position(relative);

    // &__label
    &__label {
      @include padding(null null null var(--check-gap));
      display: inline-flex;
      flex-wrap: wrap;
      line-height: var(--check-line-height);

      // &:before
      &:before {
        content: "";
        @include position(absolute, 0, null, null, 0);
        @include size(var(--check-uncheck-size));
        @include border(
          all,
          var(--theme-w-border),
          solid,
          var(--color-primary)
        );
        @include border-radius(var(--theme-radius));
        transition: border-color 250ms ease;
      }

      // &:after
      &:after {
        content: "";
        @include position(absolute, 0, 0, null, 0);
        @include size(var(--check-checked-icon-size));
        opacity: 0;
        transition: all 250ms ease;
        @include background-setup(
          // img path
          var(--check-checked-icon-pic),
          // position and size
          "0 0 / contain",
          // repeat
          no-repeat,
          // attachment
          null,
          // origin
          null,
          // clip
          null,
          // color
          transparent
        );
      }

      // &:not(:disabled)
      &:not(:disabled) {
        // &:hover
        &:hover {
          // &:before
          &:before {
            box-shadow: var(--theme-focus);
          }
        }
      }
    }

    // &__input
    &__input {
      @include position(absolute);
      opacity: 0;
      pointer-events: none;

      // &:checked
      &:checked {
        // [class*="__label"]
        + [class*="__label"] {
          // &:before
          &:before {
            border-color: var(--color-state-ok);
            border-width: var(--theme-w-border);
            background-color: var(--color-state-ok);
          }

          // &:after
          &:after {
            opacity: 1;
            transform: scale(1);
            filter: var(--filter-primary);
          }
        }
      }

      // &:disabled
      &:disabled {
        // + [class*="__label"]
        + [class*="__label"] {
          // &:before
          &:before {
            border-color: var(--color-state-disabled);
            background-color: var(--color-state-disabled);
            box-shadow: inset 0 0 0 0.4rem var(--color-state-disabled);
          }
        }

        // &:hover
        &:hover {
          // + [class*="__label"]
          + [class*="__label"] {
            cursor: not-allowed;
          }
        }
      }

      // &:focus-visible
      &:focus-visible {
        // + [class*="__label"]
        + [class*="__label"] {
          // &::before
          &:before {
            box-shadow: var(--theme-focus);
          }
        }
      }
    }
  }
}
