// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: form
// ===============================================
@mixin cdmr-form($theme: null) {
  .cdmr-form {
    // &-label
    &-label {
      font-family: var(--form-font-family);
      font-size: var(--form-font-size);
      line-height: var(--form-line-height);
      color: var(--color-primary);
    }

    // &-field
    &-field {
      @include padding(var(--form-inner-field));
      @include size(100%, null);
      @include border(all, var(--theme-w-border), solid, var(--color-primary));
      @include border-radius(var(--theme-radius));
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        background-color 0.15s ease-in-out;
      box-shadow: none;
      background-clip: padding-box;
      font-family: var(--form-font-family);
      font-size: var(--form-font-size);
      line-height: var(--form-line-height);
      color: var(--color-primary);

      // &::placeholder
      &::placeholder {
        color: var(--color-selector-placeholder);
      }

      // &:hover:not(:disabled)
      &:hover:not(:disabled) {
        border-color: var(--color-primary);
        box-shadow: var(--theme-focus);
      }

      // &:focus
      &:focus {
        outline: none;
      }

      // &:focus-visible
      &:focus-visible {
        outline: 0.2rem solid var(--color-state-focus);
      }

      // &:disabled
      &:disabled {
        background-color: var(--color-state-disabled);
        border-color: var(--color-state-disabled);

        // &:hover
        &:hover {
          cursor: not-allowed;
        }
      }

      // &:not(:disabled)
      &:not(:disabled) {
        background-color: var(--color-white);
      }

      // &--primary
      &--primary {
        @include size(null, var(--form-height-size));
      }

      // &--select
      &--select {
        @include size(null, var(--form-height-size));
      }

      // &--txtarea
      &--txtarea {
        font-family: var(--form-font-family);
      }
    }
  }
}
