// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: form
// ===============================================
@mixin cdmr-form($theme: null) {
  .cdmr-form {
    $self: &;

    // &-label
    &-label {
      font-family: var(--font-label);
      color: var(--color-primary);
      
      // theme: codymer
      @if $theme == codymer {
        font-size: 1rem;
        line-height: 1.125rem;
      }

      // theme: example-01
      @if $theme == example-01 {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

    // &-field
    &-field {
      @include size(100%, null);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        background-color 0.15s ease-in-out;
      box-shadow: none;
      background-clip: padding-box;
      font-family: var(--font-field);

      // theme: codymer
      @if $theme == codymer {
        @include padding(0.625rem);
        @include border(all, 0.125rem, solid, var(--color-primary));
        @include border-radius(0.2rem);
        font-size: 1rem;
        line-height: 1rem;
        color: var(--color-primary);
      }

      // theme: example-01
      @if $theme == example-01 {
        @include padding(1rem);
        @include border(all, 0.25rem, solid, var(--color-primary));
        @include border-radius(1rem);
        font-size: 1.2rem;
        line-height: 2rem;
        color: var(--color-primary);
      }

      // &::placeholder
      &::placeholder {
        // theme: codymer
        @if $theme == codymer {
          color: var(--color-primary);
        }
        // theme: example-01
        @if $theme == example-01 {
          color: var(--color-black);
        }
      }

      // &:hover:not(:disabled)
      &:hover:not(:disabled) {
        border-color: var(--color-primary);
        box-shadow: 0 0 0.313rem 0 var(--color-state-focus);
      }

      // &:focus
      &:focus {
        outline: none;
      }

      // &:focus-visible
      &:focus-visible {
        outline: 0.2rem solid var(--color-state-focus);
      }

      // &:disabled
      &:disabled {
        color: var(--color-primary);
        background-color: var(--color-state-disabled);

        // &:hover
        &:hover {
          cursor: not-allowed;
        }
      }

      // &:not(:disabled)
      &:not(:disabled) {
        background-color: var(--color-white);
      }

      // &--primary
      &--primary {
        // theme: codymer
        @if $theme == codymer {
          @include size(null, 2.625rem);
        }
        // theme: example-01
        @if $theme == example-01 {
          @include size(null, 4rem);
        }
      }

      // &--select
      &--select {
        font-family: var(--font-select);
        // theme: codymer
        @if $theme == codymer {
          @include size(null, 2.625rem);
        }
        // theme: example-01
        @if $theme == example-01 {
          @include size(null, 4rem);
        }
      }

      // &--txtarea
      &--txtarea {
        font-family: var(--font-textarea);
      }
    }

    // &--has
    &--has {
    }

    // &--is
    &--is {
    }
  }
}
