// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: list 
// ===============================================
@mixin cdmr-list($theme: null) {
  .cdmr-list {
    $self: &;

    // &--primary
    &--primary {
      @include padding(null null null 0);

      // #{ $self }
      #{ $self } {
        // &__item
        &__item {
          @include position(relative);
          @include padding(null null null var(--list-lvl1-gap)); 

          // &:before
          &:before {
            content: "";
            @include position(absolute, null, null, null, 0);
            @include size(var(--list-icon-size));
            filter: var(--filter-primary); 
          }

          // &:not(:first-child)
          &:not(:first-child) {
            @include margin(var(--list-item-m-t) null null null);
          }

          // &:not(.cdmr-list__lvl2 .cdmr-list__item):before 
          &:not(#{ $self }__lvl2 #{ $self }__item):before {
            @include background-setup(
              // img path
              var(--list-lvl1-icon-pic),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              transparent
            );
          }
        }

        // &__lvl2
        &__lvl2 {
          @include margin(var(--list-lvl2-m-l) null null null);
          @include padding(null null null var(--list-lvl2-gap));

          // #{ $self }
          #{ $self } {
            // &__item
            &__item {
              // &:before
              &:before {
                @include background-setup(
                  // img path
                  var(--list-lvl2-icon-pic),
                  // position and size
                  "0 0 / contain",
                  // repeat
                  no-repeat,
                  // attachment
                  null,
                  // origin
                  null,
                  // clip
                  null,
                  // color
                  transparent
                );
              }
            }
          }
        }

        // &__lvl3
        &__lvl3 {
          @include margin(var(--list-lvl3-m-l) null null null);
          @include padding(null null null var(--list-lvl3-gap));
        }
      }
    }

    // &--has
    &--has {
    }

    // &--is
    &--is {
    }
  }
}
