// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: pagination
// ===============================================
@mixin cdmr-pagination($theme: null) {
  .cdmr-pagination {
    @include padding(null null null 0);
    display: flex;
    flex-wrap: wrap;
    gap: var(--pagination-gap);
    list-style: none;

    // &__item
    &__item {
      @include position(relative);
      @include size(var(--pagination-item-size));
      @include border-radius(var(--theme-radius));
      transition: background-color 200ms ease;

      // &--has
      &--has {
        // &-icon
        &-icon {
          // &:after
          &:after {
            content: "";
            @include position(absolute, 0, 0, 0, 0);
            @include margin(auto);
            @include size(var(--pagination-icon-size));
            pointer-events: none;
          }

          // [class*="__trigger"]
          [class*="__trigger"] {
            text-indent: -9999px;
          }

          // &:not()
          &:not([class*="__item--is-disabled"]) {
            // &:after
            &:after {
              filter: var(--filter-primary);
            }
          }

          // &:focus-visible
          &:focus-visible {
            // :after
            &:after {
              filter: var(--filter-primary);
            }
          }
        }
      }

      // &--is
      &--is {
        // &-nav
        &-nav {
          // &-prev
          &-prev {
            // &:after
            &:after {
              @include background-setup(
                // img path
                var(--pagination-prev-icon-pic),
                // position and size
                "0 0 / contain",
                // repeat
                no-repeat,
                // attachment
                null,
                // origin
                null,
                // clip
                null,
                // color
                transparent
              );
              transform: rotate(-180deg);
            }
          }

          // &-next
          &-next {
            // &:after
            &:after {
              @include background-setup(
                // img path
                var(--pagination-next-icon-pic),
                // position and size
                "0 0 / contain",
                // repeat
                no-repeat,
                // attachment
                null,
                // origin
                null,
                // clip
                null,
                // color
                transparent
              );
            }
          }
        }

        // &-first
        &-first {
          // &:after
          &:after {
            @include background-setup(
              // img path
              var(--pagination-back-icon-pic),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              transparent
            );
            transform: rotate(180deg);
          }
        }

        // &-last
        &-last {
          // &:after
          &:after {
            @include background-setup(
              // img path
              var(--pagination-forward-icon-pic),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              transparent
            );
          }
        }

        // &-active
        &-active {
          border-color: var(--color-primary);
          background-color: var(--color-primary);

          // [class*="__trigger"]
          [class*="__trigger"] {
            color: var(--color-white);
          }
        }

        // &-disabled
        &-disabled {
          // &:after
          &:after {
            filter: var(--filter-primary);
          }
        }
      }
    }

    // &__trigger
    &__trigger {
      @include position(relative);
      @include size(100%);
      @include border(all, var(--theme-w-border), solid, transparent);
      @include border-radius(var(--theme-radius));
      transition: border-color 200ms ease, color 200ms ease;
      color: var(--color-primary);

      // &:not(:disabled)
      &:not(:disabled) {
        background-color: transparent;

        // &:hover
        &:hover {
          border-color: var(--color-primary);
        }

        // &:focus-visible
        &:focus-visible {
          outline: 0.2rem solid var(--color-state-focus);
        }
      }

      // &:disabled
      &:disabled {
        border-color: var(--color-state-disabled);
        background-color: var(--color-state-disabled);

        // &:hover
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
}
