// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: switch
// ===============================================
@mixin cdmr-switch($theme: null) {
  .cdmr-switch {
    $self: &;
    @include position(relative);
    display: inline-block;
    vertical-align: middle;

    // theme: codymer
    @if $theme == codymer {
      @include size(4rem, 2.5rem);
    }

    // theme: example-01
    @if $theme == example-01 {
      @include size(4rem, 2rem);
    }

    // &:before
    &:before {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      @include size(100%);
      @include border(all, 0.188rem, solid, var(--color-primary));
      z-index: 2;

      // theme: codymer
      @if $theme == codymer {
        @include border-radius(0.313rem);
      }

      // theme: example-01
      @if $theme == example-01 {
        @include border-radius(1rem);
      }
    }

    // &__label
    &__label {
      @include hide-visually;
    }

    // &__slider
    &__slider {
      @include position(absolute, 0, 0, 0, 0);
      transition: background-color 0.2s ease-in;

      // &:before
      &:before {
        content: "";
        @include position(absolute, 0, null, 0, 0);
        @include margin(auto null auto null);
        z-index: 1;
        transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);

        // theme: codymer
        @if $theme == codymer {
          @include size(2rem, 2.5rem);
          background-color: var(--color-white);
        }

        // theme: example-01
        @if $theme == example-01 {
          @include size(2rem, 2rem);
          border-radius: 1rem;
          background-color: var(--color-primary);
        }
      }
    }

    // &__input
    &__input {
      @include position(absolute, 0, null, null, 0);
      @include size(100%);
      z-index: 3;

      // &:checked
      &:checked {
        // + #{ $self }
        + #{ $self } {
          // &__slider
          &__slider {
            // &:before
            &:before {
              transform: translateX(100%);
            }
          }
        }
      }

      // &:disabled
      &:disabled {
        // &:hover
        &:hover {
          cursor: not-allowed;
        }
      }

      // &:focus-visible
      &:focus-visible {
        outline: 0.2rem solid var(--color-state-focus);
      }
    }

    // &__status
    &__status {
      @include position(absolute, 0, null, 0, null);
      @include margin(auto null auto null);

      // theme: codymer
      @if $theme == codymer {
        @include size(2rem, 2.25rem);
      }

      // theme: example-01
      @if $theme == example-01 {
        @include size(1.5rem, 1.25rem);
      }

      // &:before
      &:before {
        content: "";
        @include position(absolute, 0, 0, 0, 0);
        @include margin(auto);

        // theme: codymer
        @if $theme == codymer {
          @include size(1.25rem);
          filter: var(--filter-color-white);
        }

        // theme: example-01
        @if $theme == example-01 {
          @include size(0.9rem);
          filter: var(--filter-primary);
        }
      }

      // &--ok
      &--ok {
        // theme: codymer
        @if $theme == codymer {
          @include position(null, null, null, null, 0);
          @include border-radius(0.313rem, 0, 0, 0.313rem);
          background-color: var(--color-state-ok);
        }

        // theme: example-01
        @if $theme == example-01 {
          @include position(null, null, null, null, 0.5rem);
          @include border-radius(0.313rem, 0, 0, 0.313rem);
          background-color: var(--color-white);
        }

        // &:before
        &:before {
          // theme: codymer
          @if $theme == codymer {
            @include background-setup(
              // img path
              map-icons(user-interface, theme-unicons--approve-tick),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              null
            );
          }
          // theme: example-01
          @if $theme == example-01 {
            @include background-setup(
              // img path
              map-icons(user-interface, theme-unicons--approve-tick),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              null
            );
            filter: var(--filter-primary);
          }
        }
      }

      // &--ko
      &--ko {
        border-radius: 0 0.313rem 0.313rem 0;
        // theme: codymer
        @if $theme == codymer {
          @include position(null, null, 0, null, null);
          background-color: var(--color-state-ko);
        }
        // theme: example-01
        @if $theme == example-01 {
          @include position(null, null, 0.5rem, null, null);
          background-color: var(--color-white);
        }

        // &:before
        &:before {
          // theme: codymer
          @if $theme == codymer {
            @include background-setup(
              // img path
              map-icons(user-interface, theme-unicons--cancel),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              null
            );
          }
          // theme: example-01
          @if $theme == example-01 {
            @include background-setup(
              // img path
              map-icons(user-interface, theme-unicons--cancel),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              null
            );
            filter: var(--filter-primary);
          }
        }
      }
    }

    // &:has()
    &:has(input:disabled) {
      // &:before
      &:before {
        border-color: var(--color-state-disabled); 
      }

      // #{ $self }
      #{ $self } {
        // &__status
        &__status {
          // theme: codymer
          @if $theme == codymer {
            opacity: 0.5;
          }
        }
      }
    }

    // &:not(:has(input:disabled))
    &:not(:has(input:disabled)) {
      // &:hover
      &:hover {
        // &:before
        &:before {
          border-color: var(--color-primary);
          box-shadow: 0 0 0.313rem 0 var(--color-state-focus);
        }
      }
    }

    // &--has
    &--has {
    }

    // &--is
    &--is {
    }
  }
}
