// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// CDMR: table
// ===============================================
@mixin cdmr-table($theme: null) {
  .cdmr-table {
    $self: &;
    word-break: normal;

    // &__container
    &__container {
      @include position(relative);
      @include size(100%, null);
    }

    // &__th
    &__th {
      @include padding(0.625rem);
      vertical-align: bottom;
      font-size: var(--table-th-font-size);
      line-height: var(--table-th-line-height);;

      // &:first-of-type
      &:first-of-type {
        @include border(left, 0.625rem, null, null);
      }

      // &:last-of-type
      &:last-of-type {
        @include border(right, 0.625rem, null, null);
      }
    }

    // &__td
    &__td {
      @include padding(0.625rem);
      @include border(bottom, 0.125rem, solid, var(--color-grey01));
    }

    // &--primary
    &--primary {
      // #{ $self }
      #{ $self } {
        // &__th
        &__th {
          color: var(--color-white);
          background-color: var(--color-primary);
        }

        // &__td
        &__td {
          // &:hover, &:focus
          &:hover,
          &:focus {
            background-color: var(--color-state-focus);
            border-color: var(--color-primary);
            box-shadow: var(--theme-focus);
          }
        }

        // &__foot
        &__tfoot {
          background-color: var(--color-grey01);
        }
      }
    }

    // &--resp
    &--resp {
      @include margin(null null 1.25rem null);
      @include size(100%, null);
      clear: both;
      overflow-x: auto;
      overflow-y: hidden;
    }

    // &--has
    &--has {
    }

    // &--is
    &--is {
      // &-stick
      &-stick {
        // &-thead
        &-thead {
          overflow-y: auto;
          max-height: 450px;

          // #{ $self }
          #{ $self } {
            // &__th
            &__th {
              @include position(sticky, 0, null, null, null);
              z-index: 3;
            }

            // &__td
            &__td {
              // &:first-of-type
              &:first-of-type {
                @include position(sticky, null, null, null, 0);
                z-index: 2;
                color: var(--color-white);
                background-color: var(--color-primary);

                // &:hover, &:focus
                &:hover,
                &:focus {
                  color: var(--color-primary);
                  background-color: var(--color-state-focus);
                }
              }
            }
          }
        }
      }
    }
  }
}
