// CORE
// ===============================================
@use "./abstracts/index" as *;
// ===============================================

// LAYOUT HEADER: codymer
// ===============================================
.layout-header-codymer {
  @include position(sticky, 0, null, null, null);
  @include padding(0.938rem null 0.938rem null);
  z-index: 5;

  // &__sidenav
  &__sidenav {
    @include position(fixed, 0, -62.438rem, null, null);
    @include size(15rem, 100%);
    z-index: 500;
    overflow-x: hidden;
    transition: all 0.5s;
    box-shadow: 0.625rem 0 0.313rem -0.188rem var(--color-primary);
  }

  // &__header
  &__header {
    min-height: 3.5rem;
    flex-basis: 100%;
  }

  // &__content
  &__content {
    @include padding(1rem);
    flex-basis: 100%;
  }

  // &__footer
  &__footer {
    @include padding(1rem);
    flex-basis: 100%;
    align-self: flex-end;
  }

  // &__logo
  &__logo {
    @include position(relative);
    @include padding(null null null 1.6rem);
    transition: color 0.25s ease-out;
    color: var(--color-primary);
    @include min-screen(768px) {
      @include padding(null null null 2rem);
    }

    // &:before
    &:before {
      content: "";
      @include position(absolute, 0, null, 0, 0);
      @include margin(auto null auto null);
      @include size(1.25rem);
      transition: all 0.25s ease-out;
      @include background-setup(
        // img path
        var(--icon-logo-codymer),
        // position and size
        "0 0 / contain",
        // repeat
        no-repeat,
        // attachment
        null,
        // origin
        null,
        // clip
        null,
        // color
        null
      );
      filter: var(--filter-primary);
      @include min-screen(768px) {
        @include size(1.625rem);
      }
    }

    // &:hover
    &:hover {
      color: var(--color-pink);
    }

    // &:focus-visible
    &:focus-visible {
      outline: 0.2rem solid var(--color-state-focus);
    }
  }

  // &__nav
  &__nav {
    @include margin(null null null auto);
  }

  // &-nav
  &-nav {
    @include margin(0 null null null 0);
    @include padding(null null null 0);

    // &__item
    &__item {
      @include margin(null null 0.5rem null);
    }

    // &__link
    &__link {
      @include position(relative);
      @include padding(0.7rem 1.5rem 0.7rem null);
      @include size(100%, null);
      display: block;
      font-weight: var(--font-bold);

      // &:before
      &:before {
        content: "";
        @include position(absolute, 0.6rem, 0, null, null);
        @include size(1.3rem);
        @include background-setup(
          // img path
          var(--icon-arrow-default),
          // position and size
          "0 0 / contain",
          // repeat
          no-repeat,
          // attachment
          null,
          // origin
          null,
          // clip
          null,
          // color
          null
        );
        filter: var(--filter-color-white);
      }

      // &:hover
      &:hover {
        text-decoration: underline;
      }

      // &:focus-visible
      &:focus-visible {
        outline: 0.2rem solid var(--color-state-focus);
      }
    }

    // &__lvl2
    &__lvl2 {
      @include margin(0.7rem null 1rem null);
      @include padding(null null null 0.5rem);
    }
  }

  // &-rrss
  &-rrss {
    @include margin(1rem null 1rem null);
    @include padding(null null null 0);
    gap: 1rem;

    // .helper
    .helper {
      // &-icon
      &-icon {
        @include size(2.5rem);

        // &:before
        &:before {
          @include size(2rem);
          filter: var(--filter-color-white);
        }
      }
    }

    // &__link
    &__link {
      @include position(relative);
      @include size(2.5rem);
      display: block;

      // &:focus-visible
      &:focus-visible {
        outline: 0.2rem solid var(--color-state-focus);
      }
    }
  }

  // &__close
  &__close {
    @include position(absolute, 1rem, 1rem, null, null);

    // .cdmr
    .cdmr {
      // &-btn
      &-btn {
        background-color: var(--color-white);

        // &:not(:hover)
        &:not(:hover) {
          background-color: transparent;

          // .cdmr-icon
          .cdmr-icon {
            // &:before
            &:before {
              filter: var(--filter-color-white);
            }
          }
        }
      }

      // &-icon
      &-icon {

        // &:before
        &:before {
          filter: var(--filter-color-white);
        }
      }
    }
  }
}
