// MIXIN: cdmr-btn
// ===============================================
@mixin cdmr-btn() {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  background-color: transparent;
  user-select: none;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
}
