// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// CONT SET: btn
// ===============================================
@mixin cont-set-btn($theme: null) {
  .cont-set-btn {
    $self: &;

    // &--gap
    &--gap {
      // &-25
      &-25 {
        // theme: codymer
        @if $theme == codymer {
          gap: 0.625rem;
        }
        // theme: example-01
        @if $theme == example-01 { 
          gap: 1rem; 
        }
      }
    }

    // &--is
    &--is {
    }

    // &--has
    &--has {
    }
  }
}
