// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CONT SET: form-field
// ===============================================
.cont-set-form-field {
  $self: &;

  // .cont
  .cont {

    // &-group
    &-group {

      // &-form-field
      &-form-field {
        flex-basis: 100%;

        // &:not(:first-child)
        &:not(:first-child) {
          @include margin(.938rem null null null);
        }

      }

    }

  }

  // &--inline
  &--inline {

    // .cont
    .cont {

      // &-group
      &-group {

        // &-form-field
        &-form-field {
          @include min-screen(1024px) {
            flex-basis: auto;
          }

          // &:not(:first-child)
          &:not(:first-child) {
            @include min-screen(1024px) {
              @include margin(0 null null null);
            }

          }

        }

      }

    }

  }

  // &--gap
  &--gap {

   // &-100
   &-100 {
     gap: .625rem;
   }

  }

  // &--is
  &--is {
  }

  // &--has
  &--has {
  }

}
