// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// MIXIN HELPER: background
// ===============================================
@mixin helper-background($theme: null) {
  // ALL
  .helper-bg {
    // &-auto
    &-auto {
      background-size: auto;
    }

    // &-cover
    &-cover {
      background-size: cover;
    }

    // &-contain
    &-contain {
      background-size: contain;
    }

    // color
    &-color {
      // &-black
      &-black {
        background-color: var(--color-black);

        // theme: codymer
        @if $theme == codymer {
          * {
            color: var(--color-white);
          }
        }

        // theme: example-01
        @if $theme == example-01 {
          * {
            color: var(--color-primary);
          }
        }
      }

      // &-white
      &-white {
        background-color: var(--color-white);
      }

      // &-blue
      &-blue {
        // &-facebook
        &-facebook {
          background-color: var(--color-brand-fb-blue);
        }

        // &-instagram
        &-instagram {
          background-color: var(--color-brand-instagram-blue);
        }

        // &-twitter
        &-twitter {
          background-color: var(--color-brand-twitter-blue);
        }
      }

      // &-green
      &-green {
        // &-whatsapp
        &-whatsapp {
          background-color: var(--color-brand-whatsapp-green);

          // &-drk
          &-drk {
            // &-02
            &-1 {
              background-color: var(--color-brand-whatsapp-green-drk-1);
            }
          }
        }
      }

      // &-purple
      &-purple {
        // &-instagram
        &-instagram {
          background-color: var(--color-brand-instagram-purple);
        }
      }
      // &-transparent
      &-transparent {
        // &-mo
        &-mo {
          @include breakpoint(mobileonly) {
            background-color: transparent;
          }
        }

        // &-sm
        &-sm {
          @include min-screen(768px) {
            background-color: transparent;
          }
        }

        // &-md
        &-md {
          @include min-screen(1024px) {
            background-color: transparent;
          }
        }

        // &-lg
        &-lg {
          @include min-screen(1280px) {
            background-color: transparent;
          }
        }
      }

      // &-primary
      &-primary {
        background-color: var(--color-primary);

        // theme: codymer
        @if $theme == codymer {
          color: var(--color-white);
        }

        // theme: codymer
        @if $theme == codymer {
          * {
            color: var(--color-white);
          }
        }

        // theme: example-01
        @if $theme == example-01 {
          color: var(--color-white);
        }

        // theme: example-01
        @if $theme == example-01 {
          * {
            color: var(--color-white);
          }
        }

        // &-lighter
        &-lt {
          // &-1
          &-1 {
            background-color: var(--color-primary-lt-1);
          }
        }
      }

      // &-secondary
      &-secondary {
        background-color: var(--color-secondary);

        // &-lighter
        &-lt {
          // &-1
          &-1 {
            background-color: var(--color-secondary-lt-1);
          }
        }
      }

      // &-tertiary
      &-tertiary {
        background-color: var(--color-tertiary);
      }

      // &-quaternary
      &-quaternary {
        background-color: var(--color-quaternary);
      }

      // &-quinary
      &-quinary {
        background-color: var(--color-quinary);
      }
    }
  }
}
