// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// MIXIN HELPER: background
// ===============================================
@mixin helper-background($theme: null) {
  // ALL
  .helper-bg {
    // &-auto
    &-auto {
      background-size: auto;
    }
    // &-cover
    &-cover {
      background-size: cover;
    }
    // &-contain
    &-contain {
      background-size: contain;
    }
    // color
    &-color {
      // &-black
      &-black {
        background-color: var(--color-black);
        @if $theme == codymer {
          * {
            color: var(--color-white);
          }
        }
        @if $theme == example-01 {
          * {
            color: var(--color-primary);
          }
        }
      }
      // &-white
      &-white {
        background-color: var(--color-white);
      }
      // &-blue
      &-blue {
        // &-facebook
        &-facebook {
          // &-25
          &-25 {
            background-color: var(--color-brand-fb-blue-25);
          }
        }
        // &-instagram
        &-instagram {
          // &-25
          &-25 {
            background-color: var(--color-brand-instagram-blue-25);
          }
        }
        // &-twitter
        &-twitter {
          // &-25
          &-25 {
            background-color: var(--color-brand-twitter-blue-25);
          }
        }
      }
      // &-green
      &-green {
        // &-whatsapp
        &-whatsapp {
          // &-25
          &-25 {
            background-color: var(--color-brand-whatsapp-green-25);
          }
          // &-50
          &-50 {
            background-color: var(--color-brand-whatsapp-green-50);
          }
        }
      }
      // &-purple
      &-purple {
        // &-instagram
        &-instagram {
          // &-25
          &-25 {
            background-color: var(--color-brand-instagram-purple-25);
          }
        }
      }
      // &-transparent
      &-transparent {
        // &-mo
        &-mo {
          @include breakpoint(mobileonly) {
            background-color: transparent;
          }
        }
        // &-sm
        &-sm {
          @include min-screen(768px) {
            background-color: transparent;
          }
        }
        // &-md
        &-md {
          @include min-screen(1024px) {
            background-color: transparent;
          }
        }
        // &-lg
        &-lg {
          @include min-screen(1280px) {
            background-color: transparent;
          }
        }
      }
      // &-primary
      &-primary {
        // &-25
        &-25 {
          background-color: var(--color-primary-25);
        }
        // &-50
        &-50 {
          background-color: var(--color-primary-50);
          // theme: codymer
          @if $theme == codymer {
            color: var(--color-white);
          }
          // theme: codymer
          @if $theme == codymer {
            * {
              color: var(--color-white);
            }
          }
        }
      }
      // &-secondary
      &-secondary {
        // &-25
        &-25 {
          background-color: var(--color-secondary-25);
        }
        // &-50
        &-50 {
          background-color: var(--color-secondary-50);
          // theme: codymer
          @if $theme == codymer {
            color: var(--color-white);
          }
          // theme: codymer
          @if $theme == codymer {
            * {
              color: var(--color-white);
            }
          }
        }
      }
      // &-tertiary
      &-tertiary {
        // &-50
        &-50 {
          background-color: var(--color-tertiary-50);
        }
      }
      // &-quaternary
      &-quaternary {
        // &-75
        &-75 {
          background-color: var(--color-quaternary-75);
        }
      }
      // &-senary
      &-senary {
        // &-25
        &-25 {
          background-color: var(--color-senary-25);
        }
      }
    }
  }
}
