// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// MIXIN HELPER: font
// ===============================================
@mixin helper-font($theme: null) {
  .helper-font {
    // &-color
    &-color {
      // &-black
      &-black {
        color: var(--color-black);
      }

      // &-white
      &-white {
        color: var(--color-white);
      }

      // &-blue
      &-blue {
        
        // &-facebook
        &-facebook {
          color: var(--color-brand-fb-blue);
        }

        // &-instagram
        &-instagram {
          color: var(--color-brand-instagram-blue);
        }

        // &-twitter
        &-twitter {
          color: var(--color-brand-twitter-blue);
        }
      }

      // &-green
      &-green {
        // &-whatsapp
        &-whatsapp {
          color: var(--color-brand-whatsapp-green);
        }
      }

      // &-purple
      &-purple {
        // &-instagram
        &-instagram {
          color: var(--color-brand-instagram-purple);
        }
      }

      // &-primary
      &-primary {
        color: var(--color-primary);
      }

      // &-secondary
      &-secondary {
        color: var(--color-secondary);
      }

      // &-tertiary
      &-tertiary {
        color: var(--color-tertiary);
      }

      // &-quaternary
      &-quaternary {
        color: var(--color-quaternary);
      }

      // &-quinary
      &-quinary {
        color: var(--color-quinary);
      }

      // &-septenary
      &-septenary {
        color: var(--color-septenary);
      }
    }

    // &-weight
    &-weight {
      // &-01
      &-01 {
        font-family: var(--font-weight-01);
      }

      // &-02
      &-02 {
        font-family: var(--font-weight-02);
      }

      // &-03
      &-03 {
        font-family: var(--font-weight-03);
      }
    }

    // &-scope
    &-scope {
      // &-01
      &-01 {
        font-size: var(--scope-01);
        line-height: var(--scope-01);
      }

      // &-02
      &-02 {
        font-size: var(--scope-02);
        line-height: var(--scope-02);
        @include min-screen(768px) {
          font-size: calc(10% + var(--scope-02));
          line-height: calc(10% + var(--scope-02)); 
        }
      }

      // &-03
      &-03 {
        font-size: var(--scope-03);
        line-height: var(--scope-03);
        @include min-screen(768px) {
          font-size: calc(20% + var(--scope-03));
          line-height: calc(20% + var(--scope-03));
        }
      }

      // &-04
      &-04 {
        font-size: var(--scope-04);
        line-height: var(--scope-04);
        @include min-screen(768px) {
          font-size: calc(30% + var(--scope-04));
          line-height: calc(30% + var(--scope-04));
        }
      }

      // &-05
      &-05 {
        font-size: var(--scope-05);
        line-height: var(--scope-05);
        @include min-screen(768px) {
          font-size: calc(50% + var(--scope-05));
          line-height: calc(50% + var(--scope-05)); 
        }
      }
    }
  }
}
