// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// MIXIN HELPER: font
// ===============================================
@mixin helper-font($theme: null) {
  .helper-font {
    // &-color
    &-color {
      // &-black
      &-black {
        color: map-colors(blacks, theme--all);
      }
      // &-white
      &-white {
        color: map-colors(whites, theme--all);
      }
      // &-blue
      &-blue {
        &-facebook {
          &-25 {
            color: map-colors(blues, theme-facebook--25);
          }
        }
        &-instagram {
          &-25 {
            color: map-colors(blues, theme-instagram--25);
          }
        }
        &-twitter {
          &-25 {
            color: map-colors(blues, theme-twitter--25);
          }
        }
      }
      // &-green
      &-green {
        &-whatsapp {
          &-25 {
            color: map-colors(greens, theme-whatsapp--25);
          }
        }
      }
      // &-purple
      &-purple {
        &-instagram {
          &-25 {
            color: map-colors(purples, theme-instagram--25);
          }
        }
      }
      // &-primary
      &-primary {
        // &-25
        &-25 {
          // theme: codymer
          @if $theme == codymer {
            color: map-colors(fucsias, theme-codymer--75);
          }
          // theme: example-01
          @if $theme == example-01 {
            color: map-colors(blacks, theme-example-01--50);
          }
        }
      }
      // &-secondary
      &-secondary {
        // &-25
        &-25 {
          // theme: codymer
          @if $theme == codymer {
            color: map-colors(pinks, theme-codymer--50);
          }
          // theme: example-01
          @if $theme == example-01 {
            color: map-colors(browns, theme-example-01--25);
          }
        }
      }
      // &-tertiary
      &-tertiary {
        // &-25
        &-25 {
          // theme: codymer
          @if $theme == codymer {
            color: map-colors(greens, theme-codymer--75);
          }
          // theme: example-01
          @if $theme == example-01 {
            color: map-colors(browns, theme-example-01--50);
          }
        }
      }
      // &-quaternary
      &-quaternary {
        // &-25
        &-25 {
          // theme: codymer
          @if $theme == codymer {
            color: map-colors(yellows, theme-codymer--50);
          }
          // theme: example-01
          @if $theme == example-01 {
            color: map-colors(browns, theme-example-01--75);
          }
        }
      }
      // &-quinary
      &-quinary {
        // &-25
        &-25 {
          // theme: codymer
          @if $theme == codymer {
            color: map-colors(pinks, theme-codymer--25);
          }
          // theme: example-01
          @if $theme == example-01 {
            color: map-colors(blues, theme-example-01--25);
          }
        }
      }
      // &-septenary
      &-septenary {
        // &-25
        &-25 {
          // theme: codymer
          @if $theme == codymer {
            color: map-colors(blues, theme-codymer--25);
          }
          // theme: example-01
          @if $theme == example-01 {
          }
        }
      }
    }

    // &-weight
    &-weight {
      // &-25
      &-25 {
        // theme: codymer
        @if $theme == codymer {
          font-family: map-fonts(Google, Space-Grotesk--25);
        }
        // theme: example-01
        @if $theme == example-01 {
          font-family: map-fonts(Google, Syne--25);
        }
      }
      // &-50
      &-50 {
        // theme: codymer
        @if $theme == codymer {
          font-family: map-fonts(Google, Space-Grotesk--50);
        }
        // theme: example-01
        @if $theme == example-01 {
          font-family: map-fonts(Google, Syne--50);
        }
      }
      // &-75
      &-75 {
        // theme: codymer
        @if $theme == codymer {
          font-family: map-fonts(Google, Space-Grotesk--75);
        }
        // theme: example-01
        @if $theme == example-01 {
          font-family: map-fonts(Google, Syne--75);
        }
      }
      // &-100
      &-100 {
        // theme: codymer
        @if $theme == codymer {
          font-family: map-fonts(Google, Space-Grotesk--100);
        }
        // theme: example-01
        @if $theme == example-01 {
        }
      }
      // &-125
      &-125 {
        // theme: codymer
        @if $theme == codymer {
          font-family: map-fonts(Google, Space-Grotesk--125);
        }
        // theme: example-01
        @if $theme == example-01 {
        }
      }
    }

    // &-scope
    &-scope {
      // &-10
      &-10 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 0.875rem;
          line-height: 1rem;
        }
        // theme: example-01
        @if $theme == example-01 {
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
      // &-20
      &-20 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 0.875rem;
          line-height: 1rem;
          @include min-screen(768px) {
            font-size: 1.25rem;
            line-height: 1.375rem;
          }
        }
        // theme: example-01
        @if $theme == example-01 {
          font-size: 1.5rem;
          line-height: 1.7rem;
          @include min-screen(768px) {
            font-size: 2rem;
            line-height: 2.2rem;
          }
        }
      }
      // &-30
      &-30 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 1.125rem;
          line-height: 1.25rem;
          @include min-screen(768px) {
            font-size: 1.625rem;
            line-height: 1.75rem;
            letter-spacing: -0.063rem;
          }
        }
        // theme: example-01
        @if $theme == example-01 {
          font-size: 2rem;
          line-height: 2.2rem;
          @include min-screen(768px) {
            font-size: 2.2rem;
            line-height: 2.5rem;
          }
        }
      }
      // &-40
      &-40 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 1.25rem;
          line-height: 1.375rem;
          @include min-screen(998px) {
            font-size: 1.875rem;
            line-height: 2rem;
            letter-spacing: -0.063rem;
          }
        }
        // theme: example-01
        @if $theme == example-01 {
          font-size: 2.2rem;
          line-height: 2.4rem;
          @include min-screen(998px) {
            font-size: 3rem;
            line-height: 3.2rem;
            letter-spacing: -0.1rem;
          }
        }
      }
      // &-50
      &-50 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 1.5rem;
          line-height: 1.625rem;
          @include min-screen(768px) {
            font-size: 2.25rem;
            line-height: 2.375rem;
            letter-spacing: -0.063rem;
          }
        }
        // theme: example-01
        @if $theme == example-01 {
          font-size: 3rem;
          line-height: 3.2rem;
          @include min-screen(768px) {
            font-size: 3.5rem;
            line-height: 3.7rem;
            letter-spacing: -0.15rem;
          }
        }
      }
    }
  }
}
