// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// MIXIN HELPER: font
// ===============================================
@mixin helper-font($theme: null) {
  .helper-font {
    // &-color
    &-color {
      // &-black
      &-black {
        color: var(--color-black);
      }

      // &-white
      &-white {
        color: var(--color-white);
      }

      // &-blue
      &-blue {
        // &-facebook
        &-facebook {
          // &-25
          &-25 {
            color: var(--color-brand-fb-blue-25);
          }
        }

        // &-instagram
        &-instagram {
          // &-25
          &-25 {
            color: var(--color-brand-instagram-blue-25);
          }
        }

        // &-twitter
        &-twitter {
          // &-25
          &-25 {
            color: var(--color-brand-twitter-blue-25);
          }
        }
      }

      // &-green
      &-green {
        // &-whatsapp
        &-whatsapp {
          // &-25
          &-25 {
            color: var(--color-brand-whatsapp-green-25);
          }
        }
      }

      // &-purple
      &-purple {
        // &-instagram
        &-instagram {
          // &-25
          &-25 {
            color: var(--color-brand-instagram-purple-25);
          }
        }
      }

      // &-primary
      &-primary {
        // &-25
        &-25 {
          color: var(--color-primary-25);
        }
      }

      // &-secondary
      &-secondary {
        // &-25
        &-25 {
          color: var(--color-secondary-25);
        }
      }

      // &-tertiary
      &-tertiary {
        // &-25
        &-25 {
          color: var(--color-tertiary-25);
        }
      }

      // &-quaternary
      &-quaternary {
        // &-25
        &-25 {
          color: var(--color-quaternary-25);
        }
      }

      // &-quinary
      &-quinary {
        // &-25
        &-25 {
          color: var(--color-quinary-25);
        }
      }

      // &-septenary
      &-septenary {
        // &-25
        &-25 {
          color: var(--color-septenary-25);
        }
      }
    }

    // &-weight
    &-weight {
      // &-25
      &-25 {
        font-family: var(--font-weight-25);
      }

      // &-50
      &-50 {
        font-family: var(--font-weight-50);
      }

      // &-75
      &-75 {
        font-family: var(--font-weight-75);
      }

      // &-100
      &-100 {
        font-family: var(--font-weight-100);
      }

      // &-125
      &-125 {
        font-family: var(--font-weight-125);
      }
    }

    // &-scope
    &-scope {
      // &-10
      &-10 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 0.875rem;
          line-height: 1rem;
        }

        // theme: example-01
        @if $theme == example-01 {
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }

      // &-20
      &-20 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 0.875rem;
          line-height: 1rem;
          @include min-screen(768px) {
            font-size: 1.25rem;
            line-height: 1.375rem;
          }
        }

        // theme: example-01
        @if $theme == example-01 {
          font-size: 1.5rem;
          line-height: 1.7rem;
          @include min-screen(768px) {
            font-size: 2rem;
            line-height: 2.2rem;
          }
        }
      }

      // &-30
      &-30 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 1.125rem;
          line-height: 1.25rem;
          @include min-screen(768px) {
            font-size: 1.625rem;
            line-height: 1.75rem;
            letter-spacing: -0.063rem;
          }
        }

        // theme: example-01
        @if $theme == example-01 {
          font-size: 2rem;
          line-height: 2.2rem;
          @include min-screen(768px) {
            font-size: 2.2rem;
            line-height: 2.5rem;
          }
        }
      }

      // &-40
      &-40 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 1.25rem;
          line-height: 1.375rem;
          @include min-screen(998px) {
            font-size: 1.875rem;
            line-height: 2rem;
            letter-spacing: -0.063rem;
          }
        }

        // theme: example-01
        @if $theme == example-01 {
          font-size: 2.2rem;
          line-height: 2.4rem;
          @include min-screen(998px) {
            font-size: 3rem;
            line-height: 3.2rem;
            letter-spacing: -0.1rem;
          }
        }
      }

      // &-50
      &-50 {
        // theme: codymer
        @if $theme == codymer {
          font-size: 1.5rem;
          line-height: 1.625rem;
          @include min-screen(768px) {
            font-size: 2.25rem;
            line-height: 2.375rem;
            letter-spacing: -0.063rem;
          }
        }

        // theme: example-01
        @if $theme == example-01 {
          font-size: 3rem;
          line-height: 3.2rem;
          @include min-screen(768px) {
            font-size: 3.5rem;
            line-height: 3.7rem;
            letter-spacing: -0.15rem;
          }
        }
      }
    }
  }
}
