// CORE
// ===============================================
@use '../../abstracts/index' as *;
// ===============================================

// MIXIN HELPER: objects
// ===============================================
@mixin helper-objetcs() {

  // .helper-obj
  .helper-obj {

    // &-fit
    &-fit {

      // &-fill
      &-fill {
        object-fit: fill;
      }

      // &-contain
      &-contain {
        object-fit: contain;
      }

      // &-cover
      &-cover {
        object-fit: cover;
      }

      //
      &-scale-down {
        object-fit: scale-down;
      }

      // &-none
      &-none {
        object-fit: none;
      }

    }

  }

}
