// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CDMR: form
// ===============================================
.cdmr-form {
  $self: &;
  @include cdmr-form();

  // &-label
  &-label {
    font-family: map-fonts(Google, Space-Grotesk--500);
    font-size: 1rem;
    line-height: 1.125rem;
    color: map-colors(blacks, theme-example-01--600);
  }

  // &-field
  &-field {
    @include padding(.625rem);
    @include size(100%, null);
    @include border(all, .125rem, solid, map-colors(browns, theme-example-01--300));
    @include border-radius($radius--example-01);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background-color .15s ease-in-out;
    font-size: 1rem;
    line-height: 1rem;
    color: map-colors(blacks, theme-example-01--600);
    box-shadow: none;
    background-clip: padding-box;

    // &::placeholder
    &::placeholder {
      color: map-colors(blacks, theme-example-01--600);
    }

    // &:hover:not(:disabled)
    &:hover:not(:disabled)  {
      @include effect-glow-focus--example-01();
    }

    // &:focus
    &:focus {
      outline: none;
    }

    // &:focus-visible
    &:focus-visible {
      @include focus-custom($color-focus--example-01);
    }

    // &:disabled
    &:disabled {
      color: map-colors(blacks, theme-example-01--600);
      background-color: map-colors(greys, theme-all--100);

      // &:hover
      &:hover {
        cursor: not-allowed;
      }

    }

    // &:not(:disabled)
    &:not(:disabled) {
      background-color: map-colors(whites, theme--all);
    }

    // &--primary
    &--primary {
      @include size(null, 2.5rem);
      font-family: map-fonts(Google, Space-Grotesk--400);
    }

    // &--select
    &--select {
      @include size(null, 2.5rem);
      font-family: map-fonts(Google, Space-Grotesk--500);
    }

    // &--txtarea
    &--txtarea {
      font-family: map-fonts(Google, Space-Grotesk--300);
    }

  }

  // &--has
  &--has {
  }

  // &--is
  &--is {
  }

}
