// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CDMR: link
// ===============================================
.cdmr-link {
  $self: &;
  @include cdmr-link();

  // &:focus-visible
  &:focus-visible {
    @include focus-custom($color-focus--example-01);
  }

  // &--primary
  &--primary {
    @include padding(null null 1rem null);
    @include border(all, 0, null, null);
    display: inline-flex;
    overflow: hidden;
    word-wrap: break-word;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: map-colors(blacks, theme-example-01--600);
    background-color: transparent;
    box-shadow: inset 0 0 0 0 map-colors(browns, theme-example-01--200);

    // &:after
    &:after {
      content: "";
      @include position(absolute, null, 0, .7rem, 0);
      @include size(100%, .2rem);
      z-index: 1;
      background-color: map-colors(browns, theme-example-01--200);
    }

    // &:hover
    &:hover {
      box-shadow: inset 100vw 0 0 0 map-colors(browns, theme-example-01--200);
    }

    // &:focus-visible
    &:focus-visible {
      @include focus-custom($color-focus--example-01);
    }

    // &:active
    &:active {
      color: map-colors(blacks, theme-example-01--600);
    }

  }

  // &--has
  &--has {
  }

  // &--is
  &--is {
  }

}
