// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CDMR: list
// ===============================================
.cdmr-list {
  $self: &;
  @include cdmr-list;

  // &--primary
  &--primary {
    @include padding(null null null 0);

    // #{ $self }
    #{ $self } {

      // &__item
      &__item {
        @include position(relative);
        @include padding(null null null 1.5rem);

        // &:before
        &:before {
          content: '';
          @include position(absolute, 0, null, null, 0);
          @include size(1rem);
          filter: map-filters(browns, theme-example-01--300);
        }

        // &:not(:first-child)
        &:not(:first-child) {
          @include margin(.313rem null null null);
        }

        // &:not(.cdmr-list__lvl2 .cdmr-list__item):before
        &:not(#{ $self }__lvl2 #{ $self }__item):before {
          @include background-setup(
            map-icons(arrows, theme-unicons--rgt), // img path
            '0 0 / contain', // position and size
            no-repeat, // repeat
            null, // attachment
            null, // origin
            null, // clip
            transparent, // color
          );

        }

      }

      // &__lvl2
      &__lvl2 {
        @include margin(1rem null null null);
        @include padding(null null null 1rem);

        // #{ $self }
        #{ $self } {

          // &__item
          &__item {

            // &:before
            &:before {
              @include background-setup(
                map-icons(arrows, theme-unicons--double-rgt), // img path
                '0 0 / contain', // position and size
                no-repeat, // repeat
                null, // attachment
                null, // origin
                null, // clip
                transparent, // color
              );

            }

          }

        }

      }

      // &__lvl3
      &__lvl3 {
        @include margin(1rem null null null);
        @include padding(null null null 1rem);
      }

    }

  }

  // &--has
  &--has {
  }

  // &--is
  &--is {
  }

}
