// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CDMR: list-ordered
// ===============================================
.cdmr-list-ordered {
  $self: &;
  @include cdmr-link-ordered();
  @include margin(1.5rem null 2.5rem null);
  @include padding(null null null 0);

  // &--primary
  &--primary {

    // #{ $self }
    #{ $self } {

      // &__item
      &__item {
        @include position(relative);
        @include padding(null null null 2.5rem);

        // &:before
        &:before {
          content: counter(ordered-list);
          counter-increment: ordered-list;
          @include position(absolute, -.25rem, null, null, 0);
          @include size(1.563rem);
          font-size: .938rem;
          line-height: 1.563rem;
          text-align: center;
          background-color: map-colors(browns, theme-example-01--200);
          border-radius: 50%;
        }

        // &:not(:first-child)
        &:not(:first-child) {
          @include margin(1.5rem null null null);
        }

      }

    }

  }

  // &--has
  &--has {
  }

  // &--is
  &--is {
  }

}
