// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CDMR: radio
// ===============================================
.cdmr-radio {
  $self: &;
  @include cdmr-radio;
  @include margin(null null .938rem null);

  // &__label
  &__label {
    @include padding(null null null 2rem);
    display: flex;
    line-height: 1.563rem;

    // &:before
    &:before {
      content: '';
      @include position(absolute, 0, null, null, 0);
      @include size(1.563rem);
      @include border(all, .188rem, solid, map-colors(browns, theme-example-01--200));
      @include border-radius(100%);
      transition: all 250ms ease;
    }

    // &:not(:disabled)
    &:not(:disabled) {

      // &:hover
      &:hover {

        // &:before
        &:before {
          @include effect-glow-focus--example-01();
        }

      }

    }

  }

  // &__input
  &__input {
    @include position(absolute);
    opacity: 0;
    pointer-events: none;

    // &:checked
    &:checked {

      // + #{ $self }
      + #{ $self } {

        // &__label
        &__label {

          // &:before
          &:before {
            border-width: .5rem;
            border-color: map-colors(greens, theme-example-01--success);
            background-color: map-colors(whites, theme--all);
          }

        }

      }

    }

    // &:disabled
    &:disabled {

      // + #{ $self }
      + #{ $self } {

        // &__label
        &__label {

          // &:before
          &:before {
            border-color: map-colors(greys, theme-all--500);
          }

        }

      }

      // &:not()
      &:not(:checked) {

        // + #{ $self }
        + #{ $self } {

          // &__label
          &__label {

            // &:before
            &:before {
              background-color: map-colors(greys, theme-all--500);
              box-shadow: inset 0 0 0 .4rem map-colors(greys, theme-all--500);
            }

          }

        }

      }

      // &:hover
      &:hover {

        // + #{ $self }
        + #{ $self } {

          // &__label
          &__label {
            cursor: not-allowed;
          }

        }

      }

    }

    // &:focus-visible
    &:focus-visible {

      // + #{ $self }
      + #{ $self } {

        // &__label
        &__label {

          // &:before
          &:before {
            @include focus-custom($color-focus--example-01);
          }

        }

      }

    }

  }

  // &--has
  &--has {
  }

  // &--is
  &--is {
  }

}
