// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CDMR: switch
// ===============================================
.cdmr-switch {
  $self: &;
  @include cdmr-switch();
  @include size(4rem, 2.5rem);

  // &:before
  &:before {
    content: "";
    @include position(absolute, 0, 0, 0, 0);
    @include size(100%);
    @include border(all, .188rem, solid, map-colors(browns, theme-example-01--200));
    @include border-radius($radius--example-01);
    z-index: 2;
  }

  // &__label
  &__label {
    @include hide-visually;
  }

  // &__slider
  &__slider {
    @include position(absolute, 0, 0, 0, 0);
    transition: background-color .2s ease-in;

    // &:before
    &:before {
      content: "";
      @include position(absolute, 0, null, 0, 0);
      @include margin(auto null auto null);
      @include size(2rem, 2.5rem);
      z-index: 1;
      transition: transform .3s cubic-bezier(.16, 1, .3, 1);
      background-color: map-colors(whites, theme--all);
    }

  }

  // &__input
  &__input {
    @include position(absolute, 0, null, null, 0);
    @include size(100%);
    z-index: 3;

    // &:checked
    &:checked {

      // + #{ $self }
      + #{ $self } {

        // &__slider
        &__slider {

          // &:before
          &:before {
            transform: translateX(100%);
          }

        }

      }

    }

    // &:disabled
    &:disabled {

      // &:hover
      &:hover {
        cursor: not-allowed;
      }

    }

    // &:focus-visible
    &:focus-visible {
      @include focus-custom($color-focus--example-01);
    }

  }

  // &__status
  &__status {
    @include position(absolute, 0, null, 0, null);
    @include margin(auto null auto null);
    @include size(2rem, 2.25rem);

    // &:before
    &:before {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      @include margin(auto);
      @include size(1.25rem);
      filter: map-filters(whites, theme--all);
    }

    // &--ok
    &--ok {
      @include position(null, null, null, null, 0);
      @include border-radius($radius--example-01, 0, 0, $radius--example-01);
      background-color: map-colors(greens, theme-example-01--success);

      // &:before
      &:before {
        @include background-setup(
          map-icons(user-interface, theme-unicons--approve-tick), // img path
          '0 0 / contain', // position and size
          no-repeat, // repeat
          null, // attachment
          null, // origin
          null, // clip
          null, // color
        );

      }

    }

    // &--ko
    &--ko {
      @include position(null, null, 0, null, null);
      @include border-radius(0, $radius--example-01, $radius--example-01, 0);
      background-color: map-colors(reds, theme-example-01--error);

      // &:before
      &:before {
        @include background-setup(
          map-icons(user-interface, theme-unicons--cancel), // img path
          '0 0 / contain', // position and size
          no-repeat, // repeat
          null, // attachment
          null, // origin
          null, // clip
          null, // color
        );

      }

    }

  }

  // &--has
  &--has {
  }

  // &--is
  &--is {

    // &-disabled
    &-disabled {

      // #{ $self }
      #{ $self } {

        // &__status
        &__status {
          opacity: .5;
        }

      }

    }

  }

  // &:not(.cdmr-switch--is-disabled)
  &:not(#{ $self }--is-disabled) {

    // &:hover
    &:hover {

      // &:before
      &:before {
        @include effect-glow-focus--example-01();
      }

    }

  }

}
