// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CDMR: table
// ===============================================
.cdmr-table {
  $self: &;
  @include cdmr-table();

  // &__container
  &__container {
    @include position(relative);
    width: 100%;
  }

  // &__th
  &__th {
    @include padding(.625rem);
    vertical-align: bottom;
    @include min-screen(768px) {
      font-size: 1rem;
      line-height: 1.125rem;
    }

    // &:first-of-type
    &:first-of-type {
      @include border(left, .625rem, null, null);
    }

    // &:last-of-type
    &:last-of-type {
      @include border(right, .625rem, null, null);
    }

  }

  // &__td
  &__td {
    @include padding(.625rem);
    @include border(bottom, .125rem, solid, map-colors(greys, theme-all--200));
  }

  // &--primary
  &--primary {

    // #{ $self }
    #{ $self } {

      // &__th
      &__th {
        color: map-colors(whites, theme--all);
        background-color: map-colors(blacks, theme-example-01--600);
      }

      // &__td
      &__td {

        // &:hover, &:focus
        &:hover,
        &:focus {
          @include effect-glow-focus--example-01();
          background-color: map-colors(yellows, theme-example-01--100);
        }

      }

      // &__foot
      &__tfoot {
        background-color: map-colors(greys, theme-all--100);
      }

    }

  }

  // &--resp
  &--resp {
    @include margin(null null 1.25rem null);
    clear: both;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  // &--has
  &--has {

  }

  // &--is
  &--is {

    // &-stick
    &-stick {

      // &-thead
      &-thead {
        overflow-y: auto;
        max-height: 450px;

        // #{ $self }
        #{ $self } {

          // &__th
          &__th {
            @include position(sticky, 0, null, null, null);
            z-index: 3;
          }

          // &__td
          &__td {

            // &:first-of-type
            &:first-of-type {
              @include position(sticky, null, null, null, 0);
              z-index: 2;
              color: map-colors(whites, theme--all);
              background-color: map-colors(blacks, theme-example-01--600);;

              // &:hover, &:focus
              &:hover,
              &:focus {
                color: map-colors(blacks, theme-example-01--600);
                background-color: map-colors(yellows, theme-example-01--100);
              }

            }

          }

        }

      }

    }

  }

}
