// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// CONT WRAPPER: aside structure
// ===============================================
@mixin cont-wrapper-aside-structure($theme: null) {
  .cont-wrapper-aside-structure {
    $self: &;

    // .cdmr
    .cdmr {
      // &-breadcrumb
      &-breadcrumb {
        @include margin(1rem null 1rem null);
        @include min-screen(1280px) {
          @include margin(null null 0 null);
        }
      }
    }

    // &__aside
    &__aside {
      @include position(sticky, 0, null, null, null);
      @include padding(4rem null null null);
      max-height: 70vh;
      overflow-y: auto;
    }

    // &__article
    &__article {
    }

    // &__section
    &__section {
      @include padding(0.938rem);
      background-color: var(--color-white);
      border-radius: 0.313rem; 
      @include min-screen(768px) {
        @include padding(1.563rem);
      }

      // .cdmr
      .cdmr {
        // &-title
        &-title {
          // &:not()
          &:not(.cdmr-list *, .cdmr-list-ordered *) {
            @include position(sticky, 4.2rem, null, null, null);
            @include margin(0 null 0.5rem null);
            @include padding(1rem null 1rem null);
            z-index: 3;
            background-color: var(--color-white);
          }
        }
      }

      // &:not()
      &:not(:first-of-type) {
        @include margin(1rem null null null);
      }
    }

    // &__main-title
    &__main-title {
      @include margin(0 null 2rem null);
    }

    // &--is
    &--is {
    }

    // &--has
    &--has {
    }
  }
}
