// MAP: COLORS
// ===============================================
$map-colors:(

  // AQUAMARINAS
  aquamarinas: (

    // theme codymer
    theme-codymer--25: #02DAC0,

  ),

  // BLACKS
  blacks: (

    // theme all
    theme--all: rgb(0,0,0),

    // theme example 01
    theme-example-01--50: #0C2126,

  ),

  // BLUES
  blues: (

    // theme codymer
    theme-codymer--25: #6CC4E8,
    theme-codymer--50: #1E1559,

    // theme example-01
    theme-example-01--25: #187FD9,

    // theme facebook
    theme-facebook--25: #3a5795,

    // theme instagram
    theme-instagram--25: #3f729b,

    // theme linkedin
    theme-linkedin--25: #0077B5,

    // theme payPal
    theme-paypal--25: #009cde,
    theme-paypal--50: #003087,

    // theme twitter
    theme-twitter--25: #5ea9dd,

  ),

  // BROWNS
  browns: (

    // theme example-01
    theme-example-01--25: #F2B885,
    theme-example-01--50: #D98D62,
    theme-example-01--75: #BF5A36,

  ),

  // FUCSIAS
  fucsias: (

    // theme codymer
    theme-codymer--25: #FAEEFF,
    theme-codymer--50: #F294C0,
    theme-codymer--75: #BF1151,

  ),

  // GREENS
  greens: (

    // theme: codymer
    theme-codymer--25: #6CE8C9,
    theme-codymer--50: #30ba5b,
    theme-codymer--75: #458C78,
    theme-codymer--success: #006060,

    // theme: example-01
    theme-example-01--success: #109C3E,

    // theme-whatsapp
    theme-whatsapp--25: #41C75D,
    theme-whatsapp--50: #40a73b,

  ),

  // GREYS
  greys: (

    // theme all
    theme-all--25: #EEE,
    theme-all--50: #BBBBBB,
    theme-all--75: #999,

    // theme example-01
    theme-example-01--25: #F2F2F2,

  ),

  // ORANGES
  oranges: (

    // theme codymer
    theme-codymer--25: #FF9C8E,

  ),

  // PINKS
  pinks: (

    // theme codymer
    theme-codymer--25: #FAEEFF,
    theme-codymer--50: #F294C0,

  ),

  // PURPLES
  purples: (

    // theme codymer
    theme-codymer--25: #A885D8,
    theme-codymer--50: #1E1559,

    // theme instagram
    theme-instagram--25: #8a3ab9,

  ),

  // REDS
  reds: (

    // theme codymer
    theme-codymer--25: #DC3C14,
    theme-codymer--error: #D50000,

    // theme example 01
    theme-example-01--error: #F20544,

    // theme pinterest
    theme-pinterest--25: #E60023,

    // theme youTube
    theme-youtube--25: #CC181E,

  ),

  // WHITES
  whites: (
    theme--all: rgb(255,255,255),
  ),

  // YELLOWS
  yellows: (

    // theme codymer
    theme-codymer--25: #ffeb01,
    theme-codymer--50: #F2BC1B,
    theme-codymer--warning: #806c00,

    // theme example-01
    theme-example-01--25: #F2E7AC,
    theme-example-01--warning: #F2B705,

    // theme instagram
    theme-instagram--25: #fccc63,

    // theme snapchat
    theme-snapchat--25: #FFFC00,

  ),

);
// ===============================================

// FUNCTION: MAP COLOR
// ===============================================
@function map-colors(
  $color-name: null,
  $color-variant: null
) {
  @return map-get(map-get($map-colors, $color-name), $color-variant);
}
// ===============================================
