// MAP: FILTERS
// ===============================================
$map-filters:(

  // BLUES
  blacks: (

    // theme all
    'theme--all': invert(0%) sepia(40%) saturate(20%) hue-rotate(356deg) brightness(90%) contrast(104%),

    // theme example-01
    'theme-example-01--25': invert(8%) sepia(63%) saturate(531%) hue-rotate(144deg) brightness(93%) contrast(94%),

  ),

  // BLUES
  blues: (

    // theme codymer
    'theme-codymer--25': invert(47%) sepia(78%) saturate(450%) hue-rotate(183deg) brightness(89%) contrast(92%),
    'theme-codymer--50': invert(4%) sepia(97%) saturate(5998%) hue-rotate(253deg) brightness(96%) contrast(94%), 

  ),

  // BROWNS
  browns: (

    // theme example 01
    'theme-example-01--25': invert(73%) sepia(24%) saturate(1275%) hue-rotate(324deg) brightness(91%) contrast(86%),
    'theme-example-01--50': invert(53%) sepia(16%) saturate(2148%) hue-rotate(329deg) brightness(78%) contrast(90%),

  ),

  // FUCSIAS
  fucsias: (

    // theme codymer
    'theme-codymer--25': invert(30%) sepia(81%) saturate(3677%) hue-rotate(321deg) brightness(96%),

  ),

  // GREENS
  greens: (

    // theme codymer
    'theme-codymer--25': invert(100%) sepia(59%) saturate(1662%) hue-rotate(94deg) brightness(94%) contrast(91%),
    'theme-codymer--50': invert(22%) sepia(58%) saturate(6850%) hue-rotate(171deg) brightness(101%) contrast(85%),
    'theme-codymer--75': invert(45%) sepia(59%) saturate(326%) hue-rotate(112deg) brightness(96%) contrast(85%),
    'theme-codymer--success': invert(20%) sepia(69%) saturate(1571%) hue-rotate(151deg) brightness(107%) contrast(102%),

    // theme example-01
    'theme-example-01--success': invert(33%) sepia(87%) saturate(2005%) hue-rotate(123deg) brightness(94%) contrast(87%),

  ),

  // GREYS
  greys: (

    // theme all
    'theme-all--25':  invert(93%) sepia(0%) saturate(76%) hue-rotate(153deg) brightness(91%) contrast(85%),
    'theme-all--50': invert(54%) sepia(39%) saturate(0%) hue-rotate(202deg) brightness(105%) contrast(85%),

  ),

  // ORANGES
  oranges: (

    // theme codymer
    'theme-codymer--25': invert(78%) sepia(71%) saturate(610%) hue-rotate(300deg) brightness(98%) contrast(107%),

  ),

  // PURPLES
  purples: (

    // theme codymer
    'theme-codymer--25': invert(11%) sepia(54%) saturate(2826%) hue-rotate(236deg) brightness(86%) contrast(106%),

  ),

  // REDS
  reds: (

    // theme codymer
    'theme-codymer--error': invert(26%) sepia(84%) saturate(6466%) hue-rotate(356deg) brightness(76%) contrast(131%),

    // theme example-01
    'theme-example-01--error': invert(15%) sepia(85%) saturate(5230%) hue-rotate(337deg) brightness(92%) contrast(106%),

  ),

  // WHITES
  whites: (

    // theme all
    'theme--all': invert(99%) sepia(1%) saturate(4%) hue-rotate(355deg) brightness(103%) contrast(104%),

  ),

  // YELLOWS
  yellows: (

    // theme codymer
    'theme-codymer--warning': invert(35%) sepia(55%) saturate(1731%) hue-rotate(33deg) brightness(92%),

    // theme example 01
    'theme-example-01--warning': invert(70%) sepia(78%) saturate(2569%) hue-rotate(8deg) brightness(107%) contrast(97%),

  ),

);
// ===============================================

// FUNCTIO: MAPFILTERS
// ===============================================
@function map-filters(
  $filter-name: null,
  $filter-variant: null
) {
  @return map-get(map-get($map-filters, $filter-name), $filter-variant);
}
// ===============================================
