// MAP: FONTS
// ===============================================
$map-fonts:(

  //  GOOGLE
  Google: (

    // Space-Grotesk
    Space-Grotesk--25: ('Google-Space-Grotesk--light', Arial, sans-serif),
    Space-Grotesk--50: ('Google-Space-Grotesk--regular', Arial, sans-serif),
    Space-Grotesk--75: ('Google-Space-Grotesk--medium', Arial, sans-serif),
    Space-Grotesk--100: ('Google-Space-Grotesk--semibold', Arial, sans-serif),
    Space-Grotesk--125: ('Google-Space-Grotesk--bold', Arial, sans-serif),

    // Syne
    Syne--25: ('Google-Syne--regular', Arial, sans-serif),
    Syne--50: ('Google-Syne--medium', Arial, sans-serif),
    Syne--75: ('Google-Syne--bold', Arial, sans-serif),

  ),

);
// ===============================================

// FUNCTION: MAP FONTS
// ===============================================
@function map-fonts($font-name, $font-variant:null) {
  @return map-get(map-get($map-fonts, $font-name), $font-variant);
}
// ===============================================
