// CORE
// ===============================================
@use "./abstracts/index" as *;
// ===============================================

// MIXIN: layout-grid
// ===============================================
@mixin layout-grid($theme: null) {
  // .layout-grid
  .layout-grid {
    @include margin(null auto null auto);
    @include padding(null var(--layout-pad-1) null var(--layout-pad-1));
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 1fr;
    max-width: var(--layout-max-width);
    gap: var(--layout-gap-1);
    @include min-screen(768px) {
      @include padding(null var(--layout-pad-2) null var(--layout-pad-2));
      gap: var(--layout-gap-2);
    }
    @include min-screen(1024px) {
      @include padding(null var(--layout-pad-3) null var(--layout-pad-3));
      gap: var(--layout-gap-3);
    }
    @include min-screen(1280px) {
      @include padding(null var(--layout-pad-4) null var(--layout-pad-4));
      gap: var(--layout-gap-4);
    }
    @include min-screen(1440px) {
      @include padding(null var(--layout-pad-5) null var(--layout-pad-5));
      gap: var(--layout-gap-5);
    }

    // > *
    > * {
      word-break: break-word;
    }

    // &__col
    &__col {
      // &-xs
      &-xs {
        // &-1
        &-1 {
          grid-column: auto/span 1;
        }

        // &-2
        &-2 {
          grid-column: auto/span 2;
        }

        // &-3
        &-3 {
          grid-column: auto/span 3;
        }

        // &-4
        &-4 {
          grid-column: auto/span 4;
        }

        // &-5
        &-5 {
          grid-column: auto/span 5;
        }

        // xs-6
        &-6 {
          grid-column: auto/span 6;
        }

        // &-7
        &-7 {
          grid-column: auto/span 7;
        }

        // &-8
        &-8 {
          grid-column: auto/span 8;
        }

        // &-9
        &-9 {
          grid-column: auto/span 9;
        }

        // &-10
        &-10 {
          grid-column: auto/span 10;
        }

        // &-11
        &-11 {
          grid-column: auto/span 11;
        }

        // &-12
        &-12 {
          grid-column: auto/span 12;
        }
      }

      // &-sm
      &-sm {
        @include min-screen(768px) {
          // &-1
          &-1 {
            grid-column: auto/span 1;
          }

          // &-2
          &-2 {
            grid-column: auto/span 2;
          }

          // &-3
          &-3 {
            grid-column: auto/span 3;
          }

          // &-4
          &-4 {
            grid-column: auto/span 4;
          }

          // &-5
          &-5 {
            grid-column: auto/span 5;
          }

          // xs-6
          &-6 {
            grid-column: auto/span 6;
          }

          // &-7
          &-7 {
            grid-column: auto/span 7;
          }

          // &-8
          &-8 {
            grid-column: auto/span 8;
          }

          // &-9
          &-9 {
            grid-column: auto/span 9;
          }

          // &-10
          &-10 {
            grid-column: auto/span 10;
          }

          // &-11
          &-11 {
            grid-column: auto/span 11;
          }

          // &-12
          &-12 {
            grid-column: auto/span 12;
          }
        }
      }

      // &-md
      &-md {
        @include min-screen(1024px) {
          // &-1
          &-1 {
            grid-column: auto/span 1;
          }

          // &-2
          &-2 {
            grid-column: auto/span 2;
          }

          // &-3
          &-3 {
            grid-column: auto/span 3;
          }

          // &-4
          &-4 {
            grid-column: auto/span 4;
          }

          // &-5
          &-5 {
            grid-column: auto/span 5;
          }

          // xs-6
          &-6 {
            grid-column: auto/span 6;
          }

          // &-7
          &-7 {
            grid-column: auto/span 7;
          }

          // &-8
          &-8 {
            grid-column: auto/span 8;
          }

          // &-9
          &-9 {
            grid-column: auto/span 9;
          }

          // &-10
          &-10 {
            grid-column: auto/span 10;
          }

          // &-11
          &-11 {
            grid-column: auto/span 11;
          }

          // &-12
          &-12 {
            grid-column: auto/span 12;
          }
        }
      }

      // &-lg
      &-lg {
        @include min-screen(1280px) {
          // &-1
          &-1 {
            grid-column: auto/span 1;
          }

          // &-2
          &-2 {
            grid-column: auto/span 2;
          }

          // &-3
          &-3 {
            grid-column: auto/span 3;
          }

          // &-4
          &-4 {
            grid-column: auto/span 4;
          }

          // &-5
          &-5 {
            grid-column: auto/span 5;
          }

          // xs-6
          &-6 {
            grid-column: auto/span 6;
          }

          // &-7
          &-7 {
            grid-column: auto/span 7;
          }

          // &-8
          &-8 {
            grid-column: auto/span 8;
          }

          // &-9
          &-9 {
            grid-column: auto/span 9;
          }

          // &-10
          &-10 {
            grid-column: auto/span 10;
          }

          // &-11
          &-11 {
            grid-column: auto/span 11;
          }

          // &-12
          &-12 {
            grid-column: auto/span 12;
          }
        }
      }
    }

    // &__nested
    &__nested {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: 1fr;
      gap: var(--layout-gap-1);
      @include min-screen(768px) {
        @include padding(null var(--layout-pad-2) null var(--layout-pad-2));
        gap: var(--layout-gap-2);
      }
      @include min-screen(1024px) {
        @include padding(null var(--layout-pad-3) null var(--layout-pad-3));
        gap: var(--layout-gap-3);
      }
      @include min-screen(1280px) {
        @include padding(null var(--layout-pad-4) null var(--layout-pad-4));
        gap: var(--layout-gap-4);
      }
      @include min-screen(1440px) {
        @include padding(null var(--layout-pad-5) null var(--layout-pad-5));
        gap: var(--layout-gap-5);
      }
    }

    // &--is
    &--is {
      // &-fs
      &-fs {
        @include padding(null calc(var(--measure-base) * 0) null calc(var(--measure-base) * 0));
      }
    }
  }
}
