// CORE
// ===============================================
@use "./abstracts/index" as *;
// ===============================================

// MIXIN: layout-grid
// ===============================================
@mixin layout-grid($theme: null) {
  // .layout-grid
  .layout-grid {
    @include margin(null auto null auto);
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 1fr;

    // theme: codymer
    @if $theme == codymer {
      @include padding(null var(--measure-base) null var(--measure-base));
      max-width: 1920px;
      gap: var(--measure-base);
    }

    // theme: example-01
    @if $theme == example-01 {
      @include padding(null var(--measure-base) null var(--measure-base));
      max-width: 1440px;
      gap: var(--measure-base);
    }

    @include min-screen(768px) {
      // theme: codymer
      @if $theme == codymer {
        @include padding(
          null calc(var(--measure-base) * 2) null calc(var(--measure-base) * 2)
        );
        gap: calc(var(--measure-base) * 2);
      }

      // theme: example-01
      @if $theme == example-01 {
        @include padding(
          null calc(var(--measure-base) * 2) null calc(var(--measure-base) * 2)
        );
        gap: calc(var(--measure-base) * 2);
      }
    }

    @include min-screen(1024px) {
      // theme: codymer
      @if $theme == codymer {
        @include padding(
          null calc(var(--measure-base) * 3) null calc(var(--measure-base) * 3)
        );
        gap: calc(var(--measure-base) * 3);
      }

      // theme: example-01
      @if $theme == example-01 {
        @include padding(
          null calc(var(--measure-base) * 3) null calc(var(--measure-base) * 3)
        );
        gap: calc(var(--measure-base) * 3);
      }
    }

    @include min-screen(1280px) {
      // theme: codymer
      @if $theme == codymer {
        @include padding(
          null calc(var(--measure-base) * 4) null calc(var(--measure-base) * 4)
        );
        gap: calc(var(--measure-base) * 4);
      }

      // theme: example-01
      @if $theme == example-01 {
        @include padding(
          null calc(var(--measure-base) * 4) null calc(var(--measure-base) * 4)
        );
        gap: calc(var(--measure-base) * 4);
      }
    }

    @include min-screen(1440px) {
      // theme: codymer
      @if $theme == codymer {
        @include padding(
          null calc(var(--measure-base) * 5) null calc(var(--measure-base) * 5)
        );
        gap: calc(var(--measure-base) * 5);
      }

      // theme: example-01
      @if $theme == example-01 {
        @include padding(
          null calc(var(--measure-base) * 5) null calc(var(--measure-base) * 5)
        );
        gap: calc(var(--measure-base) * 5);
      }
    }

    // > *
    > * {
      word-break: break-word;
    }

    // &__col
    &__col {
      // &-xs
      &-xs {
        // &-1
        &-1 {
          grid-column: auto/span 1;
        }

        // &-2
        &-2 {
          grid-column: auto/span 2;
        }

        // &-3
        &-3 {
          grid-column: auto/span 3;
        }

        // &-4
        &-4 {
          grid-column: auto/span 4;
        }

        // &-5
        &-5 {
          grid-column: auto/span 5;
        }

        // xs-6
        &-6 {
          grid-column: auto/span 6;
        }

        // &-7
        &-7 {
          grid-column: auto/span 7;
        }

        // &-8
        &-8 {
          grid-column: auto/span 8;
        }

        // &-9
        &-9 {
          grid-column: auto/span 9;
        }

        // &-10
        &-10 {
          grid-column: auto/span 10;
        }

        // &-11
        &-11 {
          grid-column: auto/span 11;
        }

        // &-12
        &-12 {
          grid-column: auto/span 12;
        }
      }

      // &-sm
      &-sm {
        @include min-screen(768px) {
          // &-1
          &-1 {
            grid-column: auto/span 1;
          }

          // &-2
          &-2 {
            grid-column: auto/span 2;
          }

          // &-3
          &-3 {
            grid-column: auto/span 3;
          }

          // &-4
          &-4 {
            grid-column: auto/span 4;
          }

          // &-5
          &-5 {
            grid-column: auto/span 5;
          }

          // xs-6
          &-6 {
            grid-column: auto/span 6;
          }

          // &-7
          &-7 {
            grid-column: auto/span 7;
          }

          // &-8
          &-8 {
            grid-column: auto/span 8;
          }

          // &-9
          &-9 {
            grid-column: auto/span 9;
          }

          // &-10
          &-10 {
            grid-column: auto/span 10;
          }

          // &-11
          &-11 {
            grid-column: auto/span 11;
          }

          // &-12
          &-12 {
            grid-column: auto/span 12;
          }
        }
      }

      // &-md
      &-md {
        @include min-screen(1024px) {
          // &-1
          &-1 {
            grid-column: auto/span 1;
          }

          // &-2
          &-2 {
            grid-column: auto/span 2;
          }

          // &-3
          &-3 {
            grid-column: auto/span 3;
          }

          // &-4
          &-4 {
            grid-column: auto/span 4;
          }

          // &-5
          &-5 {
            grid-column: auto/span 5;
          }

          // xs-6
          &-6 {
            grid-column: auto/span 6;
          }

          // &-7
          &-7 {
            grid-column: auto/span 7;
          }

          // &-8
          &-8 {
            grid-column: auto/span 8;
          }

          // &-9
          &-9 {
            grid-column: auto/span 9;
          }

          // &-10
          &-10 {
            grid-column: auto/span 10;
          }

          // &-11
          &-11 {
            grid-column: auto/span 11;
          }

          // &-12
          &-12 {
            grid-column: auto/span 12;
          }
        }
      }

      // &-lg
      &-lg {
        @include min-screen(1280px) {
          // &-1
          &-1 {
            grid-column: auto/span 1;
          }

          // &-2
          &-2 {
            grid-column: auto/span 2;
          }

          // &-3
          &-3 {
            grid-column: auto/span 3;
          }

          // &-4
          &-4 {
            grid-column: auto/span 4;
          }

          // &-5
          &-5 {
            grid-column: auto/span 5;
          }

          // xs-6
          &-6 {
            grid-column: auto/span 6;
          }

          // &-7
          &-7 {
            grid-column: auto/span 7;
          }

          // &-8
          &-8 {
            grid-column: auto/span 8;
          }

          // &-9
          &-9 {
            grid-column: auto/span 9;
          }

          // &-10
          &-10 {
            grid-column: auto/span 10;
          }

          // &-11
          &-11 {
            grid-column: auto/span 11;
          }

          // &-12
          &-12 {
            grid-column: auto/span 12;
          }
        }
      }
    }

    // &__nested
    &__nested {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: 1fr;
      // theme: codymer
      @if $theme == codymer {
        max-width: 1920px;
        gap: var(--measure-base);
      }

      // theme: example-01
      @if $theme == example-01 {
        max-width: 1440px;
        gap: var(--measure-base);
      }

      @include min-screen(768px) {
        // theme: codymer
        @if $theme == codymer {
          gap: calc(var(--measure-base) * 2);
        }

        // theme: example-01
        @if $theme == example-01 {
          gap: calc(var(--measure-base) * 2);
        }
      }

      @include min-screen(1024px) {
        // theme: codymer
        @if $theme == codymer {
          gap: calc(var(--measure-base) * 3);
        }

        // theme: example-01
        @if $theme == example-01 {
          gap: calc(var(--measure-base) * 3);
        }
      }

      @include min-screen(1280px) {
        // theme: codymer
        @if $theme == codymer {
          gap: calc(var(--measure-base) * 4);
        }

        // theme: example-01
        @if $theme == example-01 {
          gap: calc(var(--measure-base) * 4);
        }
      }

      @include min-screen(1440px) {
        // theme: codymer
        @if $theme == codymer {
          gap: calc(var(--measure-base) * 5); 
        }

        // theme: example-01
        @if $theme == example-01 {
          gap: calc(var(--measure-base) * 5); 
        }
      }
    }

    // &--is
    &--is {
      // &-fs
      &-fs {
        @include padding(null var(--measure-0) null var(--measure-0));
      }
    }
  }
}
