// CORE
// ===============================================
@use "../../abstracts/index" as *;
// ===============================================

// CONT GROUP: form-field
// ===============================================
@mixin cont-group-form-field($theme: null) {
  .cont-group-form-field {
    $self: &;
    @include position(relative);
    @include margin(null null var(--cont-group-form-field-m-b) null);

    // &:before
    &:before {
      content: "";
      @include position(absolute, 0, var(--cont-group-form-field-icon-p-r), 0, null);
      @include margin(auto null auto null);
      @include size(var(--cont-group-form-field-icon-size));
      filter: var(--filter-primary);
    }

    // .cdmr
    .cdmr {
      // &-form
      &-form {
        // &-label
        &-label {
          @include margin(null null 0.313rem null);
          display: block;
        }
      }
    }

    // &__msg
    &__msg {
      @include margin(0.313rem null null null);
      display: block;
      font-size: 0.875rem;
      line-height: 1rem;
    }

    // &--has
    &--has {
      // &--select
      &-select {
        // &:not()
        &:not(
            #{ $self }--is-error,
            #{ $self }--is-success,
            #{ $self }--is-warning
          ) {
          // &:before
          &:before {
            @include background-setup(
              // img path
              var(--icon-arrow-default),
              // position and size
              "0 0 / contain",
              // repeat
              no-repeat,
              // attachment
              null,
              // origin
              null,
              // clip
              null,
              // color
              null
            );
            transform: rotate(90deg);
          }
        }
      }
    }

    // &--is
    &--is {
      // &-error
      &-error {
        // &:before
        &:before {
          @include background-setup(
            // img path
            var(--icon-user-interface-cancel),
            // position and size
            "0 0 / contain",
            // repeat
            no-repeat,
            // attachment
            null,
            // origin
            null,
            // clip
            null,
            // color
            null
          );
          filter: var(--filter-state-ko);
        }

        // .cdmr
        .cdmr {
          // &-form
          &-form {
            // &-label
            &-label {
              color: var(--color-state-ko);
            }

            // &-field
            &-field {
              border-color: var(--color-state-ko);
            }
          }
        }

        // .cdmr-form-label-field__msg
        #{ $self }__msg {
          color: var(--color-state-ko);
        }
      }

      // &-success
      &-success {
        // &:before
        &:before {
          @include background-setup(
            // img path
            var(--cont-group-form-field-success-icon-pic),
            // position and size
            "0 0 / contain",
            // repeat
            no-repeat,
            // attachment
            null,
            // origin
            null,
            // clip
            null,
            // color
            null
          );
          filter: var(--filter-state-ok);
        }

        // .cdmr
        .cdmr {
          // &-form
          &-form {
            // &-label
            &-label {
              color: var(--color-state-ok);
            }

            // &-field
            &-field {
              border-color: var(--color-state-ok);
            }
          }
        }

        // #{ $self }
        #{ $self } {
          // &__msg
          &__msg {
            color: var(--color-state-ok);
          }
        }
      }

      // &-warning
      &-warning {
        // &:before
        &:before {
          @include background-setup(
            // img path
            var(--cont-group-form-field-warning-icon-pic),
            // position and size
            "0 0 / contain",
            // repeat
            no-repeat,
            // attachment
            null,
            // origin
            null,
            // clip
            null,
            // color
            null
          );
          filter: var(--filter-state-warning);
        }

        // .cdmr
        .cdmr {
          // &-form
          &-form {
            // &-label
            &-label {
              color: var(--color-state-warning);
            }

            // &-field
            &-field {
              border-color: var(--color-state-warning);
            }
          }
        }

        // #{ $self }
        #{ $self } {
          // &__msg
          &__msg {
            color: var(--color-state-warning);
          }
        }
      }
    }

    // &:has()
    &:where(
        #{ $self }--is-error,
        #{ $self }--is-success,
        #{ $self }--is-warning
      )

      // .cdmr-form-field
      .cdmr-form-field {
      @include padding(null 2.5rem null null);
    }

    // &:not()
    &:not(#{ $self }--is-error, #{ $self }--is-success, #{ $self }--is-warning)
      .cont-group-form-field__msg {
      @include hide-visually;
    }
  }
}
