// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// MIXIN: reset-global
// ===============================================
@mixin resets-global($theme: null) {
  // *
  * {
    // generals
    -webkit-tap-highlight-color: var(--color-white);
    -webkit-focus-ring-color: var(--color-black);
    box-sizing: border-box;

    // &:before
    &:before {
      box-sizing: border-box;
    }

    // &:after
    &:after {
      box-sizing: border-box;
    }
  }

  // html
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    // theme: codymer
    @if $theme == codymer {
      font: normal normal 500 16px/18px var(--font-body);
    }
    // theme: example-01
    @if $theme == example-01 {
      font: normal normal 500 100%/18px var(--font-body);
    }
  }

  // body
  body {
    @include margin(0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-body);
    text-align: left;
    background-color: var(--background-color-body);
    // theme: codymer
    @if $theme == codymer {
      font-size: 16px;
      line-height: 18px;
    }
    // theme: example-01
    @if $theme == example-01 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  // article
  article {
    display: block;
  }

  // aside
  aside {
    display: block;
  }

  // dialog
  dialog {
    display: block;
  }

  // figcaption
  figcaption {
    display: block;
  }

  // figure
  figure {
    display: block;
  }

  // footer
  footer {
    display: block;
  }

  // header
  header {
    display: block;
  }

  // hgroup
  hgroup {
    display: block;
  }

  // main
  main {
    display: block;
  }

  // nav
  nav {
    display: block;
  }

  // section
  section {
    display: block;
  }
  // span
  span {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // data
  data {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // address
  address {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // time
  time {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // h1
  h1 {
    font-family: var(--font-title);
    // theme: codymer
    @if $theme == codymer {
      font-size: 3.052rem;
      line-height: 3.177rem;
      letter-spacing: -0.1rem;
    }
    // theme: example-01
    @if $theme == example-01 {
      font-size: 3.052rem;
      line-height: 3.177rem;
      letter-spacing: -0.1rem;
    }
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // h2
  h2 {
    font-family: var(--font-title);
    // theme: codymer
    @if $theme == codymer {
      font-size: 2.441rem;
      line-height: 2.566rem;
    }
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // h3
  h3 {
    font-family: var(--font-title);
    // theme: codymer
    @if $theme == codymer {
      font-size: 1.953rem;
      line-height: 2.078rem;
    }
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // h4
  h4 {
    font-family: var(--font-title);
    // theme: codymer
    @if $theme == codymer {
      font-size: 1.563rem;
      line-height: 1.688rem;
    }
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // h5
  h5 {
    font-family: var(--font-title);
    // theme: codymer
    @if $theme == codymer {
      font-size: 1.25rem;
      line-height: 1.375rem;
    }
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // h6
  h6 {
    font-family: var(--font-title);
    // theme: codymer
    @if $theme == codymer {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // p
  p {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // strong
  strong {
    font-family: var(--font-bold);
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // em
  em {
    font-family: var(--font-bold);
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // ul
  ul {
    list-style: none;
  }

  // li
  li {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // dt
  dt {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // dd
  dd {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // mark
  mark {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // u
  u {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // del
  del {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // anchor
  a {
    // generals
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }

    // &:focus
    &:focus {
      box-shadow: 0 0 0 rgb(255, 255, 255);
    }

    // &:active
    &:active {
      cursor: pointer;
    }
  }

  // button
  button {
    // generals
    overflow: visible;
    text-transform: none;

    // &:focus
    &:focus {
      box-shadow: 0 0 0 rgb(255, 255, 255);
    }
  }

  // h4
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  // abbr
  abbr {
    // &[title]
    &[title] {
      text-decoration: underline dotted;
      cursor: help;
      border-bottom: 0;
    }

    // &[data-original-title]
    &[data-original-title] {
      text-decoration: underline dotted;
      cursor: help;
      border-bottom: 0;
    }
  }

  // address
  address {
    @include margin(null null 1rem null);
    font-style: normal;
    line-height: inherit;
  }

  // blockquote
  blockquote {
    @include margin(null null 1rem null);
  }

  // dfn
  dfn {
    font-style: italic;
  }

  // small
  small {
    font-size: 80%;
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // sub
  sub {
    @include position(relative, null null -0.25rem null);
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // SUB
  sup {
    @include position(relative, -0.5rem null null null);
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // CODE
  code {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  // KBD
  kbd {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  // SAMP
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  // PRE
  pre {
    overflow: auto;
    font-family: monospace, monospace;
    font-size: 1em;
    -ms-overflow-style: scrollbar;
  }

  // IMG
  img {
    border-style: none;
  }

  // SVG
  svg:not(:root) {
    overflow: hidden;
  }

  // CAPTION
  caption {
    @include padding(null 1rem null 1rem);
    text-align: left;
    caption-side: bottom;
  }

  // OUTPUT
  output {
    display: inline-block;
  }

  // SUMMARY
  summary {
    display: list-item;
    cursor: pointer;
  }

  // TEMPLATE
  template {
    display: none;
  }

  // VIDEO
  video {
    object-fit: cover;
  }

  // MAP
  map {
    @include margin(5rem null 5rem null);
  }

  // TABLE
  table {
    border-collapse: collapse;
  }

  // TH
  th {
    font-family: var(--font-bold);
    text-align: inherit;
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // TD
  td {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // HIDDEN
  [hidden] {
    display: none;
  }

  // HIDDEN
  [hidden="false"] {
    display: block;
  }

  // [TYPE="RESET"]
  [type="reset"] {
    -webkit-appearance: button;
  }

  // [TYPE="BUTTON"]
  [type="button"] {
    -webkit-appearance: button;
  }

  // [TYPE="SUBMIT"]
  [type="submit"] {
    -webkit-appearance: button;
  }

  // [TYPE="NUMBER"]
  [type="number"] {
    // &::-webkit-inner-spin-button
    &::-webkit-inner-spin-button {
      height: auto;
    }

    // &::-webkit-outer-spin-button
    &::-webkit-outer-spin-button {
      height: auto;
    }
  }

  // [TYPE="SEARCH"]
  [type="search"] {
    // generals
    outline-offset: -2px;
    -webkit-appearance: none;

    // &::-webkit-search-cancel-button
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    // &::-webkit-search-decoration
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }

  // ::-WEBKIT-FILE-UPLOAD-BUTTON
  ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
  }

  // FIELDSET
  fieldset {
    @include margin(0);
    @include padding(0);
    min-width: 0;
    border: 0;
  }

  // LEGEND
  legend {
    @include margin(0 0 0.5rem 0);
    @include padding(1rem 0 0 0);
    border-width: 0;
    width: 100%;
    max-width: 100%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
    white-space: normal;
  }

  // LABEL
  label {
    // &::selection
    &::selection {
      color: var(--color-action-selection);
      background-color: var(--background-action-selection);
    }
  }

  // SELECT
  select {
    -webkit-appearance: none;
    text-transform: none;

    // ie fix // remove arrow select
    &::-ms-expand {
      display: none;
    }
  }

  // INPUT
  input {
    @include margin(0);
    -webkit-appearance: none;
    overflow: visible;
    line-height: inherit;

    // type
    &[type="radio"],
    &[type="checkbox"] {
      @include padding(0);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    &[type="date"],
    &[type="time"],
    &[type="datetime-local"],
    &[type="month"] {
      -webkit-appearance: listbox;
    }

    // &[type="password"]::-ms-reveal
    &[type="password"]::-ms-reveal {
      display: none;
    }

    // &:-webkit-autofill // chrome focus reset
    &:-webkit-autofill {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  // OPTGROUP
  optgroup {
    @include margin(0);
    font-size: inherit;
    line-height: inherit;
  }

  // TEXTAREA
  textarea {
    @include margin(0);
    @include padding(1rem null null null);
    -webkit-appearance: none;
    overflow: auto;
    resize: vertical;
    min-height: 13rem;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
  }

  // PROGRESS
  progress {
    vertical-align: baseline;
  }
}
