// ABSTRACTS
// ================================================
@use '../variables/variables' as *;
@use '../maps/maps' as *;
@use '../functions/functions' as *;
// ================================================

// MIXIN EFFECT: glow-focus
// ===============================================
// &--codymer
@mixin effect-glow-focus--codymer() {
  border-color: map-colors(blues, theme-codymer--500);
  box-shadow: 0 0 .313rem 0 map-colors(blues, theme-codymer--500);
}

// &--example-01
@mixin effect-glow-focus--example-01() {
  border-color: map-colors(browns, theme-example-01--100);
  box-shadow: 0 0 .313rem 0 map-colors(browns, theme-example-01--100);
}
