// ABSTRACTS
// ================================================
@use '../variables/variables' as *;
@use '../maps/maps' as *;
@use '../functions/functions' as *;
// ================================================

// MIXIN FOCUS: custom
// ===============================================
@mixin focus-custom($outline-color) {
  
  @media only screen and (min-width: 768px) {
    outline-width: .2rem;
    outline-style: solid;
    outline-offset: .2rem;
    outline-color: $outline-color;
  }

}
