// CORE
// ===============================================
@use './abstracts/index' as *;
// ===============================================

// CONT GROUP: form-field
// ===============================================
.cont-group-form-field {
  $self: &;
  @include position(relative);

  // &:before
  &:before {
    content: "";
    @include position(absolute, 2rem, .625rem, null, null);
    @include size(1.25rem);
  }

  // .cdmr
  .cdmr {

    // &-form
    &-form {

      // &-label
      &-label {
        @include margin(null null .313rem null);
        display: block;
      }

    }

  }

  // &__msg
  &__msg {
    @include margin(.313rem null null null);
    display: block;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  // &--has
  &--has {

    // &--select
    &-select {

      // &:not()
      &:not(
        #{ $self }--is-error,
        #{ $self }--is-success,
        #{ $self }--is-warning) {
          // &:before
          &:before {
            @include background-setup(
              map-icons(arrows, theme-unicons--rgt), // img path
              '0 0 / contain', // position and size
              no-repeat, // repeat
              null, // attachment
              null, // origin
              null, // clip
              null, // color
            );
            transform: rotate(90deg);

          }

      }

    }

  }

  // &--is
  &--is {

    // &-error
    &-error {

      // &:before
      &:before {
        @include background-setup(
          map-icons(user-interface, theme-unicons--cancel), // img path
          '0 0 / contain', // position and size
          no-repeat, // repeat
          null, // attachment
          null, // origin
          null, // clip
          null, // color
        );
        filter: map-filters(reds, theme-example-01--error);

      }

      // .cdmr
      .cdmr {

        // &-form
        &-form {

          // &-label
          &-label {
            color: map-colors(reds, theme-example-01--error);
          }

          // &-field
          &-field {
            border-color: map-colors(reds, theme-example-01--error);
          }

        }

      }

      // .cdmr-form-label-field__msg
      #{ $self }__msg {
        color: map-colors(reds, theme-example-01--error);
      }

    }

    // &-success
    &-success {

      // &:before
      &:before {
        @include background-setup(
          map-icons(user-interface, theme-unicons--approve-tick), // img path
          '0 0 / contain', // position and size
          no-repeat, // repeat
          null, // attachment
          null, // origin
          null, // clip
          null, // color
        );
        filter: map-filters(greens, theme-example-01--success);

      }

      // .cdmr
      .cdmr {

        // &-form
        &-form {

          // &-label
          &-label {
            color: map-colors(greens, theme-example-01--success);
          }

          // &-field
          &-field {
            border-color: map-colors(greens, theme-example-01--success);
          }

        }

      }

      // #{ $self }
      #{ $self } {

        // &__msg
        &__msg {
          color: map-colors(greens, theme-example-01--success);
        }

      }

    }

    // &-warning
    &-warning {

      // &:before
      &:before {
        @include background-setup(
          map-icons(user-interface, theme-unicons--exclamation-mark), // img path
          '0 0 / contain', // position and size
          no-repeat, // repeat
          null, // attachment
          null, // origin
          null, // clip
          null, // color
        );
        filter: map-filters(yellows, theme-example-01--warning);

      }

      // .cdmr
      .cdmr {

        // &-form
        &-form {

          // &-label
          &-label {
            color: map-colors(yellows, theme-example-01--warning);
          }

          // &-field
          &-field {
            border-color: map-colors(yellows, theme-example-01--warning);
          }

        }

      }

      // #{ $self }
      #{ $self } {

        // &__msg
        &__msg {
          color: map-colors(yellows, theme-example-01--warning);
        }

      }

    }

  }

  // &:has()
  &:where(
    #{ $self }--is-error,
    #{ $self }--is-success,
    #{ $self }--is-warning) .cdmr-form-field {
      @include padding(null 2.5rem null null);
  }

  // &:not()
  &:not(
    #{ $self }--is-error,
    #{ $self }--is-success,
    #{ $self }--is-warning) .cont-group-form-field__msg {
      @include hide-visually;
  }

}
