// PATHS
// ===============================================
$images-path: '../img' !default;
$fonts-path: '../fonts' !default;
$icon-path: "data:image/svg+xml;utf-8";
// ===============================================
